build/
ship/

nlp_route/.bundle
nlp_route/.env
nlp_route/log
nlp_route/coverage

# Glib build dir
sources/external_dependencies/glib/meson-build

resources/morphology/fr/build

# Duktape temp file
sources/external_dependencies/duktape/dist
sources/external_dependencies/duktape/tests
sources/external_dependencies/duktape/website
sources/external_dependencies/duktape/references
