.vscode/

build/
ship/

tools/docker

nlp_route/.bundle
nlp_route/.env
nlp_route/log
nlp_route/coverage

resources/morphology/fr/build
resources/morphology/en/build

# Glib build dir
sources/external_dependencies/glib/meson-build

# uriparser build dir
sources/external_dependencies/uriparser/build

# Duktape temp file
sources/external_dependencies/duktape/dist
sources/external_dependencies/duktape/tests
sources/external_dependencies/duktape/website
sources/external_dependencies/duktape/references
