# Pertimm file #
################
# generic
/**/core
/**/*.bak
/**/log
/**/*.log
/**/logs
/**/obj
/**/makefile.linux64
/ship
/build
/packages
/sandbox

# Externals includes
/sources/include/gio-unix-2.0/
/sources/include/glib-2.0/
/sources/include/uriparser/
/sources/include/jansson_config.h
/sources/include/jansson.h



# Eclipse file #
################
/**/.project
/**/.cproject
/**/.externalToolBuilders
/**/.settings
/**/.buildpath

