<% if @interpreter.agents.empty? %>
  <%= render partial: "blankslate" %>
<% else %>
  <% content_for :left_aside do %>
    <aside class="play">
      <%= render partial: "aside", locals: { interpreter: @interpreter } %>
    </aside>
  <% end %>
  <div class="card">
    <%= render partial: "form", locals: { interpreter: @interpreter } %>
  </div>
  <div class="play-result">
  </div>
<% end %>
