@import '../../framework/abstracts/variables';

.entity-form,
.entity-form__show-detailed {
  padding: 1em;
  display: grid;
  width: 100%;
  grid-template:
          "terms terms" auto
          "solution solution" auto
          "submit delete" 1fr/
          1fr 1fr;
  @media (min-width: 600px){
    grid-template:
            "terms solution" auto
            "submit delete" 1fr /
    1fr 1fr;
  }
  grid-column-gap: 1em;

  label {
    font-weight: 300;
    font-size: .9em;
  }

  .CodeMirror {
    .CodeMirror-scroll {
      min-height: 6em;
    }
    &.readonly {
      opacity: .6;
      background-color: #f5f5f5;
      filter: grayscale(25%);
    }
  }
  textarea[name='entity[terms]'] {
    padding: 5px 5px;
    line-height: 1.5em;
    min-height: calc(4.5em + 10px);
    max-height: 16em;
  }

  .field--submit {
    margin-bottom: 0;
  }
}

.entity-form__show-detailed {
  grid-template:
          ". close" 1fr
          "terms terms" auto
          "solution solution" auto /
          1fr 1fr;
  @media (min-width: 424px) {
    grid-template:
          "terms solution close" auto /
          1fr 1fr auto;
  }
}

.entity-form__terms {
  grid-area: terms;
}

.entity-form__solution {
  grid-area: solution;
}

.field--submit {
  grid-area: submit;
}

.entity-form__delete {
  grid-area: delete;
  justify-self: end;
}

.label--with-option {
  float: right;
}

.entity-form__close {
  grid-area: close;
  justify-self: right;
}


