@import '../../framework/abstracts/variables';

.entity-form,
.entity-form__show-detailed {
  padding: 1em;
  display: grid;
  width: 100%;
  grid-template:
          "terms terms" auto
          "solution solution" auto
          "submit delete" 1fr/
          1fr 1fr;
  @media (min-width: 600px){
    grid-template:
            "terms solution" auto
            "submit delete" 1fr /
    1fr 1fr;
  }
  grid-column-gap: 1em;

  label {
    color: #999;
    font-size: .875em;
  }

  .CodeMirror {
    line-height: 1.7em;
    .CodeMirror-scroll {
      min-height: 6em;
    }
    &.readonly {
      background-color: #EEE;
      color: #666;
    }
  }

  .field--submit {
    margin-bottom: 0;
  }
}

.entity-form__show-detailed {
  grid-template:
          ". close" 1fr
          "terms terms" auto
          "solution solution" auto /
          1fr 1fr;
  @media (min-width: 424px) {
    grid-template:
          "terms solution close" auto /
          1fr 1fr auto;
  }
}

.entity-form__terms {
  grid-area: terms;
}

.entity-form__solution {
  grid-area: solution;
}

.field--submit {
  grid-area: submit;
}

.entity-form__delete {
  grid-area: delete;
  justify-self: end;
}

.label--with-option {
  float: right;
}

.entity-form__close {
  grid-area: close;
  justify-self: right;
}

textarea[name='entity[terms]'] {
  line-height: 1.7em;
  min-height: 4.6em;
  max-height: 16em;
}
