<div class="chatbot__widget chatbot__widget--image">
  <img src="<%= image.url %>">
  <% if image.title.present? || image.subtitle.present? %>
    <div class="chatbot__widget--image__info">
      <% if image.title.present? %>
        <h2><%= image.title %></h2>
      <% end %>
      <% if image.subtitle.present? %>
        <p><%= image.subtitle %></p>
      <% end %>
    </div>
  <% end %>
</div>
