<div class="chatbot__widget chatbot__widget--image">
  <img src="<%= statement.content['url'] %>">
  <% if !statement.content['title'].blank? || !statement.content['subtitle'].blank? %>
    <div class="chatbot__widget--image__info">
      <% unless statement.content['title'].blank? %>
        <div class="chatbot__widget--image__info__title">
          <%= statement.content['title'] %>
        </div>
      <% end %>
      <% unless statement.content['subtitle'].blank? %>
        <div class="chatbot__widget--image__info__subtitle">
          <%= statement.content['subtitle'] %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
