<div class="chatbot__widget chatbot__widget--image">
  <img src="<%= image.url %>">
  <% if image.title.present? || image.subtitle.present? %>
    <div class="chatbot__widget--image__info">
      <% if image.title.present? %>
        <div class="chatbot__widget--image__info__title">
          <%= image.title %>
        </div>
      <% end %>
      <% if image.subtitle.present? %>
        <div class="chatbot__widget--image__info__subtitle">
          <%= image.subtitle %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
