<div class="chatbot__widget chatbot__widget--map">
  <div class="chatbot__widget--map__wrapper">
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/<%= map.params %>" allowfullscreen>
    </iframe>
  </div>
  <% if map.has_info? %>
    <div class="chatbot__widget--map__info">
      <% if map.title.present? %>
        <h2><%= map.title %></h2>
      <% end %>
      <% if map.description.present? %>
        <p><%= map.description %></p>
      <% end %>
    </div>
  <% end %>
</div>
