# Pertimm file #
################
# generic
/**/core
/**/*.bak
/**/log
/**/*.log
/**/logs
/**/obj
/**/makefile.linux64
/ship
/build
/packages
/sandbox

# build production
/products/ebusiness-pagesjaunes/makefile
/products/ebusiness-pagesjaunes/sources/fraise_fixed/lib
/products/ebusiness-perf/instances/perf-geo/search_report.jtl
/products/ebusiness-perf/instances/perf-pj/search_report.jtl
/resources/morphology/**/*.auf
/resources/morphology/**/*total
/resources/morphology/**/*total.*
/resources/morphology/**/*total_*
/resources/morphology/**/*total_*.*
/resources/morphology/de/deform
/resources/morphology/de/deroot
/resources/morphology/fi/fi
/resources/morphology/fi/fi.fform
/resources/morphology/fi/pien_DELAF_sanasto_unitex.dic
/resources/morphology/fr/frform
/resources/morphology/fr/frform_pj
/resources/morphology/fr/frroot
/resources/morphology/fr/frroot_pj
/resources/morphology/fr/frroot_pj
/resources/morphology/it/itform
/resources/morphology/it/itroot
/resources/morphology/pl/plform
/resources/morphology/pl/plroot
/resources/morphology/pt/ptform
/resources/morphology/pt/ptroot
/resources/morphology/zh/zhtemp*
/resources/morphology/zh/zhtradparse
/resources/morphology/zh/zhsimpparse
/sources/glib/glib-2.42.1
/sources/glib/share/
/sources/include/curl
/sources/include/gio-unix-2.0/
/sources/include/glib-2.0/
/sources/include/iconv/
/sources/include/libxml/
/sources/include/lua/
/sources/include/openssl/
/sources/include/spread/
/sources/include/yajl/
/sources/libcurl/curl-7.19.3
/sources/libcurl/target/
/sources/libiconv/libiconv-1.13.1
/sources/libxml2/libxml2-2.7.4
/sources/libxml2/libxml2-2.9.2
/sources/lua/lib/luaAddOn.h
/sources/lua/lua-5.1.4
/sources/net-snmp/net-snmp-5.5/
/sources/net-snmp/PERTIMM-MIB.txt
/sources/net-snmp/pertimmMIB.c
/sources/net-snmp/pertimmMIB.h
/sources/ogm_req_counter/prog/og_req_counter/search.json
/sources/openssl/openssl-0.9.8j
/sources/openssl/openssl-0.9.8u/
/sources/openssl/target/
/sources/spread/spread-src-4.0.0
/sources/uftp/uftp
/sources/uriParser/uriparser-0.7.4
/sources/yajl/lloyd-yajl-f4b2b1a
/sources/yajl/target/


# Eclipse file #
################
/**/.project
/**/.cproject
/**/.externalToolBuilders
/**/.settings
/**/.buildpath

