.app{
  background-color: #f5f5f5;
}

.app-wrapper{
  @include display_flex();
  height: 100%;
  nav{
    width: 200px;
    height: 100%;
  }
  main{
    @include flex(1);
    overflow: auto;
    height: 100%;
    padding: 2em;
  }
}
