.app{
  background-color: #f5f5f5;
}

.app-wrapper{
  @include display_flex();
  height: calc(100% - 3.5em);
  & > main{
    @include flex(1);
    overflow: auto;
    height: 100%;
    padding: .75em;
    position: relative;
    @media (min-width: 500px){
      padding: 1.5em 2em 2em 2em;
    }
  }
  & > aside{
    width: 200px;
    &.console-container{
      display: none;
      height: 100%;
      width: 30%;
      box-shadow: -2px 0 2px rgba(#000, .075);
      @media (min-width: 1100px){
        min-width: 400px;
        display: block;
      }
    }
    &.console-container--fullscreen{
      width: 100%;
      box-shadow: none;
      display: block;
    }
  }
}

.app-wrapper--without-h-nav{
  height: 100%;
}


.pagination{
  margin: 2em 0;
  text-align: center;
  .current-page{
    background-image: none;
    border-color: #000;
    background-color: #000;
    color: #fff;
    cursor: default;
    &:active{
      transform: none;
    }
  }
}


.grid{

  @include clearfix();

  .grid__half{
    &:last-child{
      margin-top: 2em;
    }
  }

  @media (min-width: 1000px){
    .grid__half{
      float:left;
      width: calc(50% - 3em);
      margin-right: 6em;
      &:last-child{
        margin-top: 0;
        margin-right: 0;
      }
    }
  }

  @media (min-width: 1000px){
    .grid_sidebar{
      float: left;
      width: 300px;
    }
    .grid_main{
      float: right;
      width: calc(100% - 300px - 4em);
    }
  }

}
