<section>
  <h2>Badge</h2>
  <%= highlight_html do %>
<span class="badge">Default</span>
  <% end %>

  <h3>Color variants</h3>
  <%= highlight_html do %>
<span class="badge">Default</span>
<span class="badge badge--primary">Primary</span>
<span class="badge badge--success">Success</span>
<span class="badge badge--warning">Warning</span>
<span class="badge badge--danger">Danger</span>
  <% end %>
  <h3>Size variants</h3>
  <%= highlight_html do %>
<span class="badge">Default</span>
<span class="badge badge--medium">Medium</span>
<span class="badge badge--large">Large</span>
  <% end %>
</section>
