<section>
  <h2>Badge</h2>
  <%= highlight_html do %>
<span class="badge">Default</span>
  <% end %>

  <h3>Color variants</h3>
  <%= highlight_html do %>
<span class="badge">Default</span>
<span class="badge badge--primary">Primary</span>
<span class="badge badge--success">Success</span>
<span class="badge badge--warning">Warning</span>
<span class="badge badge--danger">Danger</span>
  <% end %>

  <h3>Outline variants</h3>
  <%= highlight_html do %>
<span class="badge badge--outline">Default</span>
<span class="badge badge--primary badge--outline">Primary</span>
<span class="badge badge--success badge--outline">Success</span>
<span class="badge badge--warning badge--outline">Warning</span>
<span class="badge badge--danger badge--outline">Danger</span>
  <% end %>

  <h3>Size variants</h3>
  <%= highlight_html do %>
<span class="badge badge--small">Default</span>
<span class="badge">Default</span>
<span class="badge badge--medium">Medium</span>
<span class="badge badge--large">Large</span>
  <% end %>
</section>
