<section>
  <h2>Blank Slate</h2>
  <%= highlight_html do %>
<div class="blankslate">
  <div class="blankslate__illustration">
    <%= image_tag "robot-idle.png" %>
  </div>
  <div class="blankslate__content">
    <h2>Lorem ipsum dolor sit amet</h2>
    <p>
      Consectetur adipisicing elit. In ab adipisci, inventore mollitia sint quibusdam sapiente impedit nihil, aliquid velit nesciunt voluptatem asperiores itaque, ut, et sed dignissimos delectus temporibus.
    </p>
    <a href="#" class="btn btn--primary">Create new agent</a>
  </div>
</div>
  <% end %>
</section>
