<section>
  <h2>Card</h2>
  <%= highlight_html do %>
<div class="card">
  <div class="card-content">
    <h1>Lorem ipsum dolor</h1>
    <h2 class="tagline">Lorem ipsum dolor sit amet</h2>
    <p>
      Consectetur adipisicing elit. Modi vel corrupti expedita sit.
      Corporis possimus unde cumque odit perferendis aliquam placeat
      eaque pariatur nostrum. Aut voluptatum ipsam illo aspernatur vitae!
    </p>
  </div>
</div>
  <% end %>
</section>
