<section>
  <h2>Modal</h2>
  <%= highlight_html do %>
<p>
  <a href="#" class="btn btn--primary"
     data-action="open-modal"
     data-modal-selector="#modal">Open modal baby!</a>
  <a href="#" class="btn btn--destructive"
     data-action="open-modal"
     data-modal-selector="#large-content-modal">Be careful, there is large content inside this modal</a>
</p>
<div class="modal" style="display: none;" id="modal">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
       Laborum beatae ratione
      <button class="modal__main__title__close" data-action='close-modal'><%= icon_close %></button>
    </h5>
    <div class="modal__main__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        <a href="#" class="btn btn--primary">Yes, i'm ok this</a>
        <a href="#" class="btn">No, i disagree</a>
      </p>
    </div>
  </div>
</div>

<div class="modal" style="display: none;" id="large-content-modal">
  <div class="modal__overlay" data-action='close-modal'></div>
  <div class="modal__main">
    <h5 class="modal__main__title">
       Laborum beatae ratione
      <button class="modal__main__title__close" data-action='close-modal'><%= icon_close %></button>
    </h5>
    <div class="modal__main__content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.architecto temporibus obcaecati, reprehenderit perspiciatis illum sit qui consequatur! Corrupti labore, ipsum autem molestias, laborum atque.
      </p>
      <p>
        <a href="#" class="btn btn--primary">Yes, i'm ok this</a>
        <a href="#" class="btn">No, i disagree</a>
      </p>
    </div>
  </div>
</div>

  <% end %>

</section>
