<section>
  <h2>Typography</h2>
  <p>
    <strong>Roboto</strong> font is use as default font.
  </p>

  <h3>Headers</h3>
  <%= highlight_html do %>
<h1>Header Level 1</h1>
<h2>Header Level 2</h2>
<h3>Header Level 3</h3>
<h4>Header Level 4</h4>
  <% end %>


  <h3>Headers <code>h1</code> & tagline <code>h2</code></h3>
  <%= highlight_html do %>
<h1>Main subjet presentation</h1>
<h2 class="tagline">Awesome tagline related to main subject</h2>
<p>
  Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>.
  Numquam, obcaecati nostrum modi architecto tempora deserunt animi nesciunt
  voluptas laudantium vitae alias <strong>saepe reiciendis similique amet
  perferendis</strong>, cumque maiores. Rem, unde!
</p>
  <% end %>

  <h3>Headers <code>h2</code> & tagline <code>h3</code></h3>
  <%= highlight_html do %>
<h2>Main subjet presentation</h2>
<h3 class="tagline">Awesome tagline related to main subject</h3>
<p>
  Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>.
  Numquam, obcaecati nostrum modi architecto tempora deserunt animi nesciunt
  voluptas laudantium vitae alias <strong>saepe reiciendis similique amet
  perferendis</strong>, cumque maiores. Rem, unde!
</p>
  <% end %>
</section>
