<div class="sg-intro">
  <h1>Badge</h1>
  <p>
    Badges are used to inform user of the status of a piece of information.
    They must hold a small amounts of information.
  </p>
</div>

<section>
  <h2>Default</h2>
  <%= highlight_html do %>
<span class="badge">Default</span>
  <% end %>
</section>

<section>
  <h2>Color variants</h2>
  <%= highlight_html do %>
<span class="badge">Default</span>
<span class="badge badge--primary">Primary</span>
<span class="badge badge--success">Success</span>
<span class="badge badge--warning">Warning</span>
<span class="badge badge--danger">Danger</span>
  <% end %>
</section>

<section>
  <h2>Outline variants</h2>
  <%= highlight_html do %>
<span class="badge badge--outline">Default</span>
<span class="badge badge--primary badge--outline">Primary</span>
<span class="badge badge--success badge--outline">Success</span>
<span class="badge badge--warning badge--outline">Warning</span>
<span class="badge badge--danger badge--outline">Danger</span>
  <% end %>
</section>

<section>
  <h2>Size variants</h2>
  <%= highlight_html do %>
<span class="badge badge--small">Default</span>
<span class="badge">Default</span>
<span class="badge badge--medium">Medium</span>
<span class="badge badge--large">Large</span>
  <% end %>
</section>
