<div class="sg-intro">
  <h1>Table</h1>
</div>

<section>
  <h2>Default</h2>
  <%= highlight_html do %>
<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Data</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
      <td>Reprehenderit similique harum nihil laudantium neque veniam</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
      <td>Reprehenderit similique harum nihil laudantium neque veniam</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
      <td>Reprehenderit similique harum nihil laudantium neque veniam</td>
    </tr>
  </tbody>
</table>
  <% end %>
