<div class="card card--notice">
  <div class="card-content">
    <span class="icon">
      <%= icon_check %>
    </span>
    <%= t('views.entities_lists.show.import.select_import.success', count: count) %>
  </div>
</div>
