<div class="card card--notice">
  <div class="card-content">
    <span class="icon">
      <%= icon_check %>
    </span>
    <%= t('views.entities_lists.show.import.success', count: count) %>
    <%= t('views.entities_lists.show.import.success_redirection_html') %>
  </div>
</div>
