<div class="card card--alert">
  <div class="card-content">
    <p>
      <span class="icon">
        <%= icon_alert %>
      </span>
      <%= t('views.entities_lists.show.import.failure_html', errors: errors.join(', ')) %>
    </p>
  </div>
</div>
