<div class="card card--warning">
  <div class="card-content">
    <span class="icon icon--spin">
      <%= icon_loading %>
    </span>
    <%= t('views.entities_lists.show.import.running_html') %>
  </div>
</div>
