<% if @entities_list.entities_imports.running.any? %>
  <div id="import-card">
    <%= render partial: 'entities/import_running', locals: {
    } %>
  </div>
<% end %>

<% if current_user.can? :edit, @agent %>
  <% if (@paginate_is_enabled && @entities.current_page == 1) || !@paginate_is_enabled %>
    <div class="card">
      <%= render partial: 'entities/form', locals: {
          agent: @agent,
          entities_list: @entities_list,
          entity: @entity
      } %>
    </div>
  <% end %>
<% end %>

<%= render partial: 'entities/list', locals: {
    agent: @agent,
    entities_list: @entities_list
} %>

<%= render partial: 'entities/blankslate_start', locals: {
    agent: @agent,
    entities_list: @entities_list
} %>

