@import '../../framework/abstracts/mixins';
@import '../../framework/abstracts/variables';

.blankslate--agents{
  margin-top: 6em;
}

.agent-background-header{
  @include clearfix();
  margin-bottom: .25em;
  label{
    float:left;
  }
  .btn-group{
    float: right;
  }
}

.agent-upload__destroy{
  @include display_flex();
  justify-content: center;
  align-items: center;

  background-position: center center;
  background-size: cover;
  height: 12em;
}

.agent-upload__new{
  @include display_flex();
  justify-content: center;
  align-items: center;
  height: 12em;
  border: 1px dashed #ccc;
  overflow: hidden;
  & > div{
    padding: 0 1em;
    width: 100%;
    text-align: center;
  }
}

.field.field--api-token{
  background-color: #f9f9f9;
  margin: -1.5em -2em 1em -2em;
  padding: .5em 2em;
  border-bottom: 1px solid #eee;
}

.agent-name-and-visibility{
  @include display_flex();
  justify-content: space-between;
  .field:first-child{
    width: 100%;
    margin-right: 2em;
  }
}


.user-list{
  list-style: none;
  padding: 1.5em;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .75em 1.25em;

  @media (min-width: 800px){
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1100px){
    grid-template-columns: 1fr;
  }
  @media (min-width: 1300px){
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1700px){
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 2000px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.dependencies-title{
  & > em{
    font-style: normal;
    color: #aaa;
    font-size: .875em;
    a{
      text-decoration:none;
      color: #aaa;
      &:hover{
        strong{
          text-decoration:underline;
          color: $primary-color;
        }
      }
    }
  }
  & > small{
    font-size: 1em;
    color: #aaa;
    & > em{
      font-style: normal;
      color: #bbb;
      font-size: .875em;
      a{
        text-decoration:none;
        color: #aaa;
        &:hover{
          strong{
            text-decoration:underline;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.dependencies-graph{
  max-height: 80vh;
  text-align: center;
  svg{
    max-height: 80vh;
  }
}
