@import '../../framework/abstracts/mixins';
@import '../../framework/abstracts/variables';

.blankslate--agents{
  margin-top: 6em;
}

.agent-background-header{
  @include clearfix();
  margin-bottom: .25em;
  label{
    float:left;
  }
  .btn-group{
    float: right;
  }
}

.agent-upload__destroy{
  @include display_flex();
  justify-content: center;
  align-items: center;

  background-position: center center;
  background-size: cover;
  height: 12em;
}

.agent-upload__new.field--upload{
  height: 12em;
}

.field.field--api-token{
  background-color: #f9f9f9;
  margin: -1.5em -2em 1em -2em;
  padding: .5em 2em;
  border-bottom: 1px solid #eee;
}

.agent-name-and-visibility{
  @include display_flex();
  justify-content: space-between;
  .field:first-child{
    width: 100%;
    margin-right: 2em;
  }
}


.user-list{
  list-style: none;
  padding: 1.5em;

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .75em 1.25em;

  @media (min-width: 800px){
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1100px){
    grid-template-columns: 1fr;
  }
  @media (min-width: 1300px){
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1700px){
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 2000px){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.dependencies-title{
  & > em{
    font-style: normal;
    color: #aaa;
    font-size: .875em;
    a{
      text-decoration:none;
      color: #aaa;
      &:hover{
        strong{
          text-decoration:underline;
          color: $primary-color;
        }
      }
    }
  }
  & > small{
    font-size: 1em;
    color: #aaa;
    & > em{
      font-style: normal;
      color: #bbb;
      font-size: .875em;
      a{
        text-decoration:none;
        color: #aaa;
        &:hover{
          strong{
            text-decoration:underline;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.dependencies-graph{
  max-height: 80vh;
  text-align: center;
  svg{
    max-height: 80vh;
  }
}

.successor_search {
  .field--inline {
    justify-content: space-between;

    :first-child {
      flex-grow: 2;
    }
  }
}

.agent_search {
  display: grid;
  grid-column-gap: 1em;
  align-items: center;
  grid-template:  "reset_search" auto
                  "query" auto
                  "sort_by" auto
                  "filter_owner" auto
                  "filter_visibility" auto / 1fr;


  @media (min-width: 420px) {
    grid-template:
            "reset_search reset_search reset_search" auto
            "query query sort_by" auto
            "filter_owner filter_owner filter_owner" auto
            "filter_visibility filter_visibility filter_visibility" auto / 1fr 1fr 1fr;

  }

  @media (min-width: 580px) {
    grid-template:
            "reset_search reset_search reset_search reset_search" auto
            "query query query sort_by" auto
            "filter_owner filter_owner filter_visibility filter_visibility" auto / 1fr 1fr 1fr 1fr;
    .agent_search__filter_visibility,
    .agent_search__sort_by {
      justify-self: end;
    }
  }

  @media (min-width: 1024px) {
    grid-template:
            "reset_search query sort_by filter_owner filter_visibility" auto / auto 1fr auto 1fr 1fr;
    .agent_search__filter_visibility,
    .agent_search__sort_by{
      justify-self: start;
      margin-bottom: 0;
    }

    .agent_search__query,
    .agent_search__filter_owner,
    .agent_search__reset_search {
      margin-bottom: 0;
    }
  }

  .agent_search__query {
    grid-area: query;
  }
  .agent_search__filter_owner {
    grid-area: filter_owner;
  }
  .agent_search__filter_visibility {
    grid-area: filter_visibility;
  }
  .agent_search__sort_by {
    grid-area: sort_by;
  }

  .agent_search__reset_search {
    grid-area: reset_search;
  }
}
