@import '../../framework/abstracts/mixins';

.blankslate--agents{
  margin-top: 6em;
}

.agent-background-header{
  @include clearfix();
  margin-bottom: .5em;
  label{
    float:left;
  }
  .btn-group{
    float: right;
  }
}

.agent-upload__destroy{
  @include display_flex();
  justify-content: center;
  align-items: center;

  background-position: center center;
  background-size: cover;
  height: 12em;
}

.agent-upload__new{
  @include display_flex();
  justify-content: center;
  align-items: center;
  height: 12em;
  border: 1px dashed #ccc;
  overflow: hidden;
  & > div{
    padding: 0 1em;
    width: 100%;
    text-align: center;
  }
}


.field.field--api-token{
  background-color: #f9f9f9;
  margin: -1.5em -2em 1em -2em;
  padding: .5em 2em;
  border-bottom: 1px solid #eee;
}
