@import '../../framework/abstracts/variables';

$play_small_breakpoint: 500px;
$play_breakpoint: 1000px;
$play_form_color: #fafafa;

body[data-controller-name="play"] .modal{
  form{
    margin: 0;
    padding: .75em 1em 0 1em;
    border-bottom: 1px solid #ddd;
    .field{
      margin-bottom: .75em;
    }
    .control--filter-owner{
      display: none;

      @media (min-width: 430px){
        display: block;
      }
    }
  }

  .modal__main__chooser{
    max-height: calc(100vh - 300px);
  }

  .agent-compact{
    &.agent-compact--play-chooser:hover{
      box-shadow: 0 0 0 2px rgba($primary_color, .75), 0 3px 3px rgba(black, .1);
      cursor: auto;
    }
    &.agent-compact--play-chooser.agent-compact--play-chooser--disabled:hover{
      box-shadow: 0 3px 3px rgba(black, .1);
    }
  }

  .play__modal-footer{
    border-top: 1px solid #ddd;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .play__modal-footer__state{
      font-size: .9em;
      color: #888;
    }
  }
}




body[data-controller-name="play"]{
  .app-wrapper{
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @media (min-width: $play_breakpoint){
      display: flex;
    }
  }

  main{
    overflow: unset;
    height: auto;
    @media (min-width: $play_breakpoint){
      overflow: auto;
      height: 100%;
    }
  }

  aside{
    width: 100%;
    @media (min-width: $play_breakpoint){
      width: 300px;
      overflow: auto;
      background-color: #fff;
      box-shadow: 2px 0 3px rgba(#000, .05);
    }

    h2{
      padding: .5em 1.5em;
      margin: 0;
      font-size: 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $play_form_color;
      span{
        text-transform: uppercase;
        font-size: .7em;
        font-weight: 400;
      }
      .btn{
        font-size: .7em;
      }
      @media (min-width: $play_breakpoint){
        background-color: #fcfcfc;
        padding: 1em;
        border-bottom: 1px solid rgba(#000, .05);
        span{
          text-transform: none;
          font-size: 1em;
          font-weight: 300;
        }
        .btn{
          font-size: .8em;
        }
      }
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: #fff;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));

      max-height: 100px;
      overflow: auto;

      border-bottom: 1px solid rgba(#000, .075);
      border-top: 1px solid rgba(#000, .075);
      @media (min-width: $play_breakpoint){
        max-height: none;
        overflow: unset;
        border: none;
      }

      li{
        margin: 0;
        padding: .35em 1.5em;
        .agent-compact{
          font-size: .85em;
          box-shadow: none;
          text-decoration: none;
          .agent-compact__id__visual{
          }
          .agent-compact__actions{
            padding-right: 0;
          }
        }
        @media (min-width: $play_breakpoint){
          padding: .35em .5em;
          .agent-compact{
            padding: .25em;
          }
        }

      }
    }
  }

  main{
    padding: 0;
    background-color: #fff;
    @media (min-width: $play_breakpoint){
      padding: 2em;
      background-color: transparent;
    }
  }
}


.play-main{
  background-color: $play_form_color;
  border-bottom: 1px solid rgba(#000, .1);

  @media (min-width: $play_breakpoint){
    border-radius: 3px;
    border: 1px solid rgba(#000, .1);
    margin-bottom: 2em;
    box-shadow: 0 3px 3px rgba(#000, .05);
    max-width: 66em;
  }
  .banner{
    margin: 0 1.5em 1.5em 1.5em;
    @media (min-width: $play_breakpoint){
      margin: 0 2em 2em 2em;
    }
  }
}

.play-main__form{
  padding: 1em 1.5em;
  @media (min-width: $play_breakpoint){
    padding: 1.5em 2em;
  }

  textarea{
    height: 6.6em;
    resize: none;
  }
  .label--uppercase{
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 400;
  }
  .inputs-wrapper{
    display: grid;
    grid-template-columns: min-content auto;
    grid-column-gap: 1em;

    grid-template-areas:
      "language spellchecking"
      "text     text         "
      "submit   submit       ";

    .field--language{
      grid-area: language;
    }
    .field--spellchecking{
      grid-area: spellchecking;
    }
    .field--text{
      grid-area: text;
    }
    .field--submit{
      grid-area: submit;
    }
    @media (min-width: 500px){
      grid-template-areas:
        "language spellchecking"
        "text     text         "
        "submit   submit       ";
    }
    @media (min-width: 600px){
      grid-column-gap: 2em;
    }

    @media (min-width: $play_breakpoint){
      .field--agent{
        display: none;
      }
      grid-template-columns: auto min-content;
      grid-template-areas:
        "text   language"
        "text   spellchecking"
        "submit submit";
    }
  }
}

.play-main__result{
  .play-main__result__wrapper{
    background-color: #fff;
    padding: 1.5em;
    border-top: 1px solid rgba(#000, .1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    h2{
      font-size: .9em;
      margin: -1.5rem -1.5rem 1.5rem -1.5rem;
      padding: 1rem 1.5rem;
      background-color: #fcfcfc;
      border-bottom: 1px solid rgba(#000, .075);
    }
    & > div{
      line-height: 1.75em;
    }
    @media (min-width: $play_breakpoint){
      padding: 1.5em 2em;
    }
  }

  .highlight-pop{
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 3px rgba(#000, .2);
    z-index: 2;
    padding: 1em;
    border-radius: 3px;

    @media (min-width: $play_breakpoint){
      max-width: calc(100vw - 350px);
    }

    @each $name, $color in $colors{
      &.highlight-pop--#{$name}{
        background-color: darken($color, 5%);
      }
    }

    h4{
      margin: 0 0 .25em 0;
      font-size: .7em;
      text-transform: uppercase;
      color: rgba(#fff, .8);
    }
    pre{
      margin: 0 0 1em 0;
      font-size: .75em;
      line-height: 1.3em;
      font-family: $family-monospace;
      overflow: auto;
      &:last-child{
        margin: 0;
      }
    }
    [x-arrow] {
      position: absolute;
      width: 12px;
      height: 12px;
      background-color: #333;
      border-radius: 6px;
    }
  }

  .highlight-pop[x-placement="bottom"] { margin-top: 10px; }
  .highlight-pop[x-placement="left"] { margin-right: 10px; }
  .highlight-pop[x-placement="top"] { margin-bottom: 10px; }
  .highlight-pop[x-placement="right"] { margin-left: 10px; }

  .highlight-pop[x-placement="bottom"] [x-arrow] { top: -5px; }
  .highlight-pop[x-placement="left"] [x-arrow] { right: -5px; }
  .highlight-pop[x-placement="top"] [x-arrow] { bottom: -5px; }
  .highlight-pop[x-placement="right"] [x-arrow] { left: -5px; }

  @each $name, $color in $colors{
    .highlight-pop--#{$name} [x-arrow]{
      background-color: darken($color, 5%);
    }
  }

  .highlight{
    z-index: 1;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    padding: 0 .25em;
    border-radius: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    &:after{
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 3px;
      border-radius: 2px;
      bottom: -1px;
      left: 0;
      background-color: green;
    }
    @each $name, $color in $colors{
      &.highlight--#{$name}{
        color: darken($color, 15%);
        background-color: rgba($color, .05);
        &:after{
          background-color: $color;
        }
      }
    }
    &:hover,
    &:focus{
      cursor: zoom-in;
      -moz-user-select: none;
       -ms-user-select: none;
           user-select: none;
      &.highlight--open{ cursor: zoom-out; }
    }
  }
}
