$primary_color: #3bb8d7;

$destructive_color: #ff3860;
$alert_color: #ff3860;
$success_color: #23d160;

$focus_color: #30A9C8;

$picker_colors: (
  black: #444,
  red: #d32f2f,
  pink: #c2185b,
  purple: #7b1fa2,
  deep-purple: #512da8,
  indigo: #303f9f,
  blue: #1976d2,
  light-blue: #0288d1,
  cyan: #0097a7,
  teal: #00796b,
  green: #388e3c,
  light-green: #689f38,
  lime: #afb42b,
  yellow: #fbc02d,
  amber: #ffa000,
  orange: #f57c00,
  deep-orange: #e64a19,
  brown: #5d4037
);

// Typography
$family-sans-serif: "Roboto", sans-serif;
