.agent-box{
  box-shadow: 0 2px 3px rgba(black, .1);
  border-radius: 2px;
  .agent-box__header{
    display: block;
    padding: 7em 0 0 0;
    text-decoration: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    @include ribbon-container();

    h2, h3{
      font-size:1em;
      margin: 0;
      color: #fff;
      padding: 0 1rem;
      background-color: rgba(black, .075);
      text-shadow: 0 1px 0 rgba(black, .3);
    }
    h2{
      font-weight: 400;
      font-size: 1.1em;
      padding-top: .5rem;
      padding-bottom: .1rem;
    }
    h3{
      font-size: .9em;
      color: rgba(#fff, .9);
      padding-bottom: .5em;
    }
    .agent-box__header__role{
      position: absolute;
      top: .2em;
      right: .5em;
    }

    .agent-box__header__ribbon{
      @include ribbon();
    }

    .agent-box__header__favorite {
      svg {
        fill: #ffa000;
        height: 1em;
      }
    }

    &.agent-box__header--image{
      background-size: 100% auto;
      background-position: center center;
      transition: background-size .15s;
      h2, h3{
        transition: background .15s;
        background-color: rgba(black, .35);
        text-shadow: 0 1px 0 rgba(black, .5);
      }
    }
  }

  a.agent-box__header{
    &:hover,
    &:focus{
      h2, h3{
        background-color: rgba(black, .3);
      }
    }
  }

  a.agent-box__header--image{
    &:hover,
    &:focus{
      background-size: 110% auto;
      h2, h3{
        color: #fff;
        background-color: rgba(black, .5);
      }
    }
  }

  .agent-box__content{
    @include display_flex();
    align-items: center;
    justify-content: space-between;

    padding: .5em 1em;
    border-top: none;
    background-color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    line-height: 1em;
    .agent-box__content__info{
      padding: .2em 0;
      p.primary{
        margin: 0 0 .25em 0;
        font-size: .9em;
      }
      p.secondary{
        margin: 0;
        color: #aaa;
        font-size: .8em;
      }
    }
    .agent-box__content__actions{
    }
  }
}

.agents-box-grid{
  margin: 2em 0;
  display: -ms-grid;
  display: grid;

  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;

  grid-gap: 2em;

  &.agents-box-grid--full{
    @media (min-width: 700px){
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1000px){
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1300px){
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &.agents-box-grid--with-sidebar{
    margin: 0;
    @media (min-width: 700px){
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1000px){
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    @media (min-width: 1100px){
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1350px){
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1750px){
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
