.avatar{
  display: inline-block;
  line-height: 0;
  img{
    border-radius: 100%;
    width: 24px;
  }
  &.avatar--large{
    img{
      width: 100px;
    }
  }
}

.user{
  @include display_flex();
  align-items: center;
  .user__avatar{
    line-height: 0;
    img{
      border-radius: 100%;
      width: 36px;
    }
    &.user__avatar--small{
      img{
        width: 24px;
      }
    }
  }
  .user__info{
    margin-left: .75em;
    line-height: 1.5em;
    small{
      display: block;
      font-size: .85em;
      line-height: 1.5em;
      color: #888;
    }
  }
}
