.avatar{
  display: inline-block;
  line-height: 0;
  img{
    border-radius: 100%;
    width: 24px;
  }

  &.avatar--large{
    img{
      width: 100px;
    }
  }
}

.user{
  @include display_flex();
  align-items: center;
  span{
    margin-left: .5em;
  }
}


.user{
  @include display_flex();
  align-items: flex-start;
  .user__avatar{
    margin-right: .5em;
    img{
      border-radius: 100%;
      width: 30px;
    }
  }
  .user__info{
    line-height: 1em;
    small{
      font-size: .9em;
      color: #888;
    }
  }
}
