.blankslate{
  padding: 1em;
  max-width: 34em;
  margin: 6em auto 0 auto;
  @include display_flex();
  align-items: center;

  .blankslate__illustration{
    margin-right: 3em;
    img{
      max-width: 100px;
    }
  }
  .blankslate__content{
  }
}
