.blankslate{
  max-width: 34em;
  margin: 1em auto;
  @include display_flex();
  align-items: center;
  @media (min-width: 550px){
    padding: 1em;
  }

  .blankslate__illustration{
    display:none;
    margin-right: 2em;
    img{
      width: 80px;
    }
    @media (min-width: 550px){
      display:block;
    }
  }
  .blankslate__content{
    .separator{
      margin: 2em 0;
      border-top: 1px solid #ddd;
      position: relative;
      span{
        position: absolute;
        padding: 0 1em;
        top: -.9em;
        left: calc(50% - 30px);
        background-color: #fff;
        color: #aaa;
      }
    }
  }
}
