.blankslate{
  padding: 1em;
  max-width: 34em;
  margin: 1em auto;
  @include display_flex();
  align-items: center;

  .blankslate__illustration{
    margin-right: 3em;
    img{
      max-width: 100px;
    }
  }
  .blankslate__content{

    .separator{
      margin: 2em 0;
      border-top: 1px solid #ddd;
      position: relative;
      span{
        position: absolute;
        padding: 0 1em;
        top: -.9em;
        left: calc(50% - 30px);
        background-color: #fff;
        color: #aaa;
      }
    }
  }
}
