a.btn,
.btn{
  @include unselectable();
  display: inline-block;
  line-height: 1.5em;
  padding: calc(.375em - 1px) .75em;

  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  white-space: nowrap;

  color: #000;

  border: 1px solid #ddd;
  border-radius: 2px;

  background: linear-gradient(to bottom, #fff 0%, #f5f5f5 100%);
  cursor: pointer;

  &:hover{
    color: #000;
    background: linear-gradient(to bottom, #fff 0%, darken(#f5f5f5, 4%) 100%);
  }
  &:focus{
    color: #000;
    box-shadow: 0 0 0 2px rgba(#000, .05);
    border-color: #bbb;
    outline:0;
  }
  &:active{
    transform: translateY(1px);
  }

  &.btn--primary{
    color: #fff;
    text-shadow: 0 1px 0 rgba(black, .2);
    background: linear-gradient(
      to bottom,
      darken($primary_color, 0%) 0%,
      darken($primary_color, 4%) 100%
    );
    border-color: darken($primary_color, 4%);
    &:hover{
      background: linear-gradient(
        to bottom,
        darken($primary_color, 0%) 0%,
        darken($primary_color, 8%) 100%
      );
      border-color: darken($primary_color, 8%);
    }
    &:focus{
      box-shadow: 0 0 0 2px rgba($primary_color, .3);
      border-color: darken($primary_color, 13%);
      outline:0;
    }
  }

  &.btn--destructive{
    color: #fff;
    text-shadow: 0 1px 0 rgba(black, .2);
    background: linear-gradient(
      to bottom,
      darken($destructive_color, 0%) 0%,
      darken($destructive_color, 4%) 100%
    );
    border-color: darken($destructive_color, 4%);
    &:hover{
      background: linear-gradient(
        to bottom,
        darken($destructive_color, 0%) 0%,
        darken($destructive_color, 10%) 100%
      );
      border-color: darken($destructive_color, 10%);
    }
    &:focus{
      box-shadow: 0 0 0 2px rgba($destructive_color, .3);
      border-color: darken($destructive_color, 15%);
      outline:0;
    }
  }

  &.btn--plain{
    background: none;
    border-color: transparent;
    text-decoration: underline;
    color: $primary_color;
    &:hover{
      background-color: #f9f9f9;
      color: darken($primary_color, 15%);
    }
    &:focus{
      box-shadow: 0 0 0 2px #f5f5f5;
      outline:0;
    }
  }

  &.btn--small{
    font-size: .8em;
  }
  &.btn--large{
    font-size: 1.2em;
  }

  &.btn--full{
    width: 100%;
    text-align: center;
  }

}
