$btn_border_radius: 2px;

a.btn,
.btn{
  @include unselectable();
  display: inline-block;
  line-height: 1.5em;
  padding: calc(.375em - 1px) .75em;

  font-size: 1em;
  font-weight: 300;
  text-decoration: none;
  white-space: nowrap;

  color: #000;

  border: 1px solid #ddd;
  border-radius: $btn_border_radius;

  background: linear-gradient(to bottom, #fff 0%, #f9f9f9 100%);
  cursor: pointer;

  &:hover{
    background: linear-gradient(to bottom, darken(#fff, 2%) 0%, darken(#f9f9f9, 3%) 100%);
  }
  &:focus{
    color: #000;
    box-shadow: 0 0 0 2px rgba(#000, .05);
    border-color: #bbb;
    outline:0;
  }
  &.btn--disabled{
    background: linear-gradient(to bottom, #fff 0%, #f9f9f9 100%);
    color: #444;
  }
  &.btn--disabled:active{
    transform: none;
  }
  &.btn--drag{
    cursor: move;
  }

  &.btn--outline{
    background-image: none;
    background-color: #fff;
    &:hover{
      border-color: #aaa;
    }
    &.btn--disabled{
      border-color: #ddd;
    }
  }

  &.btn--primary{
    color: #fff;
    text-shadow: 0 1px 0 rgba(black, .2);
    background: linear-gradient(
      to bottom,
      darken($primary_color, 0%) 0%,
      darken($primary_color, 4%) 100%
    );
    border-color: darken($primary_color, 4%);
    &:hover{
      background: linear-gradient(
        to bottom,
        darken($primary_color, 0%) 0%,
        darken($primary_color, 8%) 100%
      );
      border-color: darken($primary_color, 8%);
    }
    &:focus{
      box-shadow: 0 0 0 2px rgba($primary_color, .3);
      border-color: darken($primary_color, 13%);
      outline:0;
    }
    &.btn--disabled{
      background: linear-gradient(
        to bottom,
        darken($primary_color, 0%) 0%,
        darken($primary_color, 4%) 100%
      );
      border-color: darken($primary_color, 4%);
      color: rgba(#fff, .8);
    }

    &.btn--outline{
      background-image: none;
      text-shadow: none;
      border-color: $primary_color;
      color: darken($primary_color, 10%);
      &:hover{
        color: #fff;
        background-color: $primary_color;
      }
      &.btn--disabled{
        color: rgba($primary_color, .9);
        background-color: transparent;
        border-color: rgba($primary_color, .8);
      }
    }
  }

  &.btn--destructive{
    color: #fff;
    text-shadow: 0 1px 0 rgba(black, .2);
    background: linear-gradient(
      to bottom,
      darken($destructive_color, 0%) 0%,
      darken($destructive_color, 4%) 100%
    );
    border-color: darken($destructive_color, 4%);
    &:hover{
      background: linear-gradient(
        to bottom,
        darken($destructive_color, 0%) 0%,
        darken($destructive_color, 10%) 100%
      );
      border-color: darken($destructive_color, 10%);
    }
    &:focus{
      box-shadow: 0 0 0 2px rgba($destructive_color, .3);
      border-color: darken($destructive_color, 15%);
      outline:0;
    }

    &.btn--disabled{
      background: linear-gradient(
        to bottom,
        darken($destructive_color, 0%) 0%,
        darken($destructive_color, 4%) 100%
      );
      border-color: darken($destructive_color, 4%);
      color: rgba(#fff, .8);
    }

    &.btn--outline{
      background-image: none;
      text-shadow: none;
      border-color: $destructive_color;
      color: darken($destructive_color, 10%);
      &:hover{
        color: #fff;
        background-color: $destructive_color;
      }
      &.btn--disabled{
        color: rgba($destructive_color, .8);
        border-color: rgba($destructive_color, .8);
        background-color: transparent;
      }
    }
  }

  &.btn--plain{
    background: none;
    border-color: transparent;
    text-decoration: underline;
    color: $primary_color;
    &:hover{
      background-color: rgba(#000, .02);
      color: darken($primary_color, 15%);
    }
    &:focus{
      box-shadow: 0 0 0 2px #f5f5f5;
      outline: 0;
    }
    &.btn--disabled{
      background-color: transparent;
      color: $primary_color;
    }
  }

  &.btn--small{
    font-size: .8em;
  }
  &.btn--large{
    font-size: 1.2em;
  }
  &.btn--full{
    width: 100%;
    text-align: center;
  }

  &.btn--disabled{
    opacity: 0.8;
    cursor: not-allowed;
  }
}

.btn-group{
  @include display_inline_flex();
  .btn{
    border-radius: 0;
    border-left-width: 1px;
    border-right-width: 0;
  }
  .btn:first-child{
    margin-left: 0;
    border-top-left-radius: $btn_border_radius;
    border-bottom-left-radius: $btn_border_radius;
  }
  .btn:last-child{
    border-top-right-radius: $btn_border_radius;
    border-bottom-right-radius: $btn_border_radius;
    border-right-width: 1px;
  }
  .btn.btn--primary{
    border-right-width: 1px;
  }
  .btn.btn--primary + .btn{
    border-left-width: 0;
  }
}



$toggle_height: 1.25rem;

.btn{
  &.btn--toggle{
    font-size: 1em;
    background-image: none;
    background-color: #ccc;
    border: none;
    height: calc(#{$toggle_height} + 4px);
    width: calc(#{$toggle_height} * 2.6);
    position: relative;
    border-radius: $toggle_height;
    box-shadow: 0 1px 2px inset rgba(#000, .2);
    transition: background .1s ease-in-out;
    vertical-align: middle;
    span{
      display: none;
      font-size: .75em;
      font-weight: 400;
      line-height: 1em;
      margin-left: -.55em;
      padding-right: 1.25rem;
      text-align: right;
      color: #fff;
    }
    &:after{
      content: '';
      position: absolute;
      width : $toggle_height;
      height: $toggle_height;
      top: 2px;
      left: 2px;
      border-radius: $toggle_height;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(#000, .2);
      transition: all .1s ease-in-out;
    }
    &:focus,
    &.btn--toggle-focus{
      box-shadow: 0 0 0 2px rgba(#000, .3);
    }
    &.btn--toggle-on{
      background-color: $primary_color;
      span{
        display: block;
      }
      &:focus,
      &.btn--toggle-focus{
        box-shadow: 0 0 0 2px rgba($primary_color, .5);
      }
      &:after{
        left: 100%;
        margin-left: calc(-2px - #{$toggle_height});
      }
    }
    &.btn--toggle-disabled{
      opacity: .25;
      &:focus{
        box-shadow: none;
      }
    }
  }
}




$checkbox_size: 1.25em;
.btn{
  &.btn--checkbox{
    background-image: none;
    background-color: #fff;
    border: none;
    display: inline-block;
    padding: 0;
    height: $checkbox_size;
    width: $checkbox_size;
    position: relative;
    box-shadow: 0 0 0 2px #aaa;
    margin: 3px;
    vertical-align: middle;

    &:after,
    &:before{
      content: '';
      position: absolute;
      bottom: 35%;
      left: 13%;
      width: calc(#{$checkbox_size}/2.5);
      height: 3px;
      transform: rotate(45deg);
      border-radius: 2px;
    }
    &:before{
      width: calc(#{$checkbox_size}/1.6);
      transform: rotate(-45deg);
      bottom: 44%;
      left: 30%;
    }

    &:focus,
    &.btn--checkbox-focus{
      box-shadow: 0 0 0 2px #aaa, 0 0 0 4px rgba(#aaa, .5);
    }
    &.btn--checkbox-on:focus,
    &.btn--checkbox-on.btn--checkbox-focus{
      box-shadow: 0 0 0 2px $primary_color, 0 0 0 4px rgba($primary_color, .5);
    }

    &.btn--checkbox:hover,
    &.btn--checkbox.btn--checkbox-hover{
      &:after,
      &:before{
        background-color: #bbb;
      }
    }

    &.btn--checkbox-on,
    &.btn--checkbox-on:hover,
    &.btn--checkbox-on.btn--checkbox-hover{
      background-color: $primary_color;
      box-shadow: 0 0 0 2px $primary_color;
      &:after,
      &:before{
        background-color: #fff;
      }
    }

    &.btn--checkbox-disabled,
    &.btn--checkbox-disabled:focus,
    &.btn--checkbox-disabled:hover,{
      box-shadow: 0 0 0 2px #ddd;
      &:after,
      &:before{
        background-color: #fff;
      }
    }
  }
}
