.card-list{
  list-style: none;
  padding: 0;
  padding-bottom: .25em;
  .sortable-chosen{
    box-shadow: 0 1px 7px rgba(#000, .25);
  }

  &.card-list--empty {
    border: 1px dotted #ccc;
    height: 3em;
    text-align: center;
    padding: 1em;
    line-height: 1em;
    margin-bottom: 2em;
    &:before {
      content: attr(data-empty-content);
      color: #bbb;
      transform: translateY(calc(0.4em - 50%));
      display: block;
    }

    &.card-list--empty--dragging {
      padding: 0;
      border: 1px dotted $primary-color;
      &:before {
        display:none;
      }
    }
  }

  & > li{
    @include display_flex();

    [dir='rtl']{
      text-align: right;
    }

    background-color: #fff;
    margin-bottom: .5em;

    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    border-radius: 2px;

    opacity: 1;
    transition: opacity .2s ease-in, transform .2s ease-out, box-shadow .2s;
    &.hidden-vertical {
      transform: translateY(-50px);
      opacity: 0.5;
    }
    &.hidden-horizontal {
      transform: translateX(-100px);
      opacity: 0.5;
    }
    &.deleted{
      transform: translateY(50px);
      opacity: 0;
    }
    & > a{
      display: block;
      width: calc(100% - 190px);
      line-height: 1.8em;
      padding: .5rem 1rem;
      text-decoration: none;
      border-radius: 2px;
      .card-list__item__name{
        display: block;
      }
      .card-list__item__desc{
        display: block;
        color: #aaa;
        font-size: .8em;
        line-height: 1.4em;
      }
      &:focus,
      &:hover{
        .card-list__item__name{
          text-decoration: underline;
        }
      }
    }
    .card-list__item__stats{
      font-size: .8em;
      line-height: 1.8rem;
      padding: .5rem;
      color: #aaa;
      text-align:right;
      width: 130px;
    }
    .card-list__item__actions{
      padding: .5rem;
    }
  }

  .card-list__item__draggable {
    width: 20px;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 4px solid #fff;

    background-image: url(../images/grip@2x.png);
    background-size: 4px 4px;
    opacity: .15;

    &:hover{
      opacity: .5;
      cursor: move;
    }
  }
}

.card-list-header{
  @include display_flex();
  justify-content: space-between;
  margin-top: 2em;
  h4{
    margin-bottom: 0;
    line-height: 1.8em;
  }
}
