.card{
  border-radius: 3px;
  box-shadow: 0 0 1px 0 rgba(black, .1), 0 2px 3px rgba(black, .1);
  margin-bottom: 1.5em;
  background-color: #fff;

  .card-content{
    padding: 2em;
    & > p{
      margin: 0;
    }
    & > p:not(:last-child){
      margin-bottom: 1em;
    }
    & > ul{
      padding: 0 1em;
    }
  }

  .tabs {
    padding: 1.5em 1.5em 0 1.5em;
  }

  &.card--notice{
    border: none;
    background-color: $success_color;
    color: #fff;
    .card-content{
      padding: 1em 2em;
    }
  }

  &.card--alert{
    border: none;
    background-color: $alert_color;
    color: #fff;
    .card-content{
      padding: 1em 2em;
    }
  }
}


@-webkit-keyframes cardShakeAnimation {
    0%   { transform: translateX(0) }
   12.5% { transform: translateX(-6px) rotateY(-5deg) }
   37.5% { transform: translateX(5px) rotateY(4deg)   }
   62.5% { transform: translateX(-3px) rotateY(-2deg) }
   87.5% { transform: translateX(2px) rotateY(1deg)   }
  100%   { transform: translateX(0) }
}
@-moz-keyframes cardShakeAnimation {
    0%   { transform: translateX(0) }
   12.5% { transform: translateX(-6px) rotateY(-5deg) }
   37.5% { transform: translateX(5px) rotateY(4deg)   }
   62.5% { transform: translateX(-3px) rotateY(-2deg) }
   87.5% { transform: translateX(2px) rotateY(1deg)   }
  100%   { transform: translateX(0) }
}
@keyframes cardShakeAnimation {
    0%   { transform: translateX(0) }
   12.5% { transform: translateX(-6px) rotateY(-5deg) }
   37.5% { transform: translateX(5px) rotateY(4deg)   }
   62.5% { transform: translateX(-3px) rotateY(-2deg) }
   87.5% { transform: translateX(2px) rotateY(1deg)   }
  100%   { transform: translateX(0) }
}

.card-animation-wrapper{
  -webkit-perspective: 600px;
     -moz-perspective: 600px;
          perspective: 600px;
}

.card--shake{
  -webkit-animation: 650ms ease-in-out cardShakeAnimation;
     -moz-animation: 650ms ease-in-out cardShakeAnimation;
          animation: 650ms ease-in-out cardShakeAnimation;
}
