.chatbot__statement{
  display: flex;
  margin: 1em 0;
  align-items: flex-end;

  @media (min-width: 800px){
    margin: 1em;
  }
  &.chatbot__statement--bot{
  }
  &.chatbot__statement--user{
    flex-direction: row-reverse;
  }
}


// Waiting
.chatbot__statement__waiting{
  line-height: 0;
  background-color: #f5f5f5;
  padding: 5px 10px;
  border-radius: 10px;
  width: 40px;
  margin-left: 1em;
  svg{
    will-change: transform;
    width: 20px;
    fill: #bbb;
    .point-a,
    .point-b,
    .point-c{
      animation: chatbot_waiting .75s cubic-bezier(.37,0,.12,.97) infinite;
    }
    .point-b{
      animation-delay: -.25s;
    }
    .point-c{
      animation-delay: -.5s;
    }
  }
}

@keyframes chatbot_waiting{
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}


// Avatar
.chatbot__avatar{
  width: 40px;
  height: 40px;
  margin: 0 1em;
  img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

// Avatar Animation
.chatbot__avatar{
  opacity: 1;
  transform: translateX(0);
  transition: transform .15s cubic-bezier(0.465, 0.183, 0.153, 0.946),
              opacity   .15s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  .chatbot__statement--bot &.chatbot__avatar--hidden{
    opacity: 0;
    transform: translateX(-100%);
  }
  .chatbot__statement--user &.chatbot__avatar--hidden{
    opacity: 0;
    transform: translateX(100%);
  }
}



// Widget animation
.chatbot__widget{
  opacity: 1;
  transform: translateX(0);
  transition: transform .15s cubic-bezier(0.465, 0.183, 0.153, 0.946) .15s,
              opacity   .15s cubic-bezier(0.465, 0.183, 0.153, 0.946) .15s;
  .chatbot__statement--bot &.chatbot__widget--hidden{
    opacity: 0;
    transform: translateX(-2em);
  }
  .chatbot__statement--user &.chatbot__widget--hidden{
    opacity: 0;
    transform: translateX(2em);
  }
}


.chatbot__widget{
  overflow: hidden;
  border-radius: 12px;
  max-width: calc(100% - 120px);
  @media (min-width: 550px){
    max-width: calc(450px);
  }
  .chatbot__statement--bot &{
    border-bottom-left-radius: 1px;
  }
  .chatbot__statement--user &{
    border-bottom-right-radius: 1px;
    background-color: $primary_color;
    color: #fff;
  }
}


// Widget Text
.chatbot__widget--text{
  padding: .5em .8em;
  background-color: #f5f5f5;
  .chatbot__statement--user & a {
    color: #fff;
  }

  p, ul, pre{
    margin: 1em 0;
    &:first-child{
      margin-top: 0.5em;
    }
    &:last-child{
      margin-bottom: 0.5em;
    }
  }
  pre{
    background-color: rgba(#fff, .5);
    border: 1px solid rgba(#000, .1);
    box-shadow: 0 1px 0 #fff;
    padding: 1em;
    font-size: .85em;
    line-height: 1.2em;
    color: #333;
    border-radius: 3px;
  }
}

.sg .chatbot__widget--text p code,
.sg .chatbot__widget--text li code,
.chatbot__widget--text code{
  padding: .2em .25em .1em .25em;
  background-color: rgba(#fff, .5);
  border: 1px solid rgba(#000, .1);
  color: #333;
  color: darken($primary-color, 10%);
  font-size: .9em;
  border-radius: 2px;
}


// Widget image
.chatbot__widget--image{
  line-height: 0;
  background-color: #f5f5f5;

  img{
    max-width: 100%;
    max-height: 300px;
  }
  .chatbot__widget--image__info {
    line-height: 1.4rem;
    padding: .75em 1em;
  }
  .chatbot__widget--image__info__title {
    font-size: 1.1em;
  }
  .chatbot__widget--image__info__subtitle {
    font-size: 0.9em;
    color: #666;
  }
}


// Widget button
.chatbot__statement form{
  max-width: calc(100% - 120px);
  @media (min-width: 550px){
    max-width: calc(450px);
  }
}
.chatbot__widget--button {
  padding: .5em 1em;
  border: 1px solid $primary-color;
  color: darken($primary-color, 10%);

  background-color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;

  &:focus,
  &:hover{
    background-color: $primary-color;
    color: #fff;
  }
  .chatbot__statement--user,
  .chatbot__statement--bot &{
    border-radius: 20px;
  }
}
