$chatbot_statement_radius: 8px;

.chatbot__statement{
  display: flex;
  margin: 1em 0;
  align-items: flex-start;

  @media (min-width: 800px){
    margin: 1em;
  }
  &.chatbot__statement--bot{
  }
  &.chatbot__statement--user{
    flex-direction: row-reverse;
  }
  &.chatbot__statement--moderator{
    justify-content: center;
  }
}


// Waiting
.chatbot__statement__waiting{
  line-height: 0;
  background-color: #fff;
  padding: 7px 14px;
  border-radius: 12px;
  width: 48px;
  margin-left: 1em;

  box-shadow: 0 1px 1px rgba(black, .2);
  svg{
    will-change: transform;
    width: 20px;
    fill: #bbb;
    .point-a,
    .point-b,
    .point-c{
      animation: chatbot_waiting .75s cubic-bezier(.37,0,.12,.97) infinite;
    }
    .point-b{
      animation-delay: -.25s;
    }
    .point-c{
      animation-delay: -.5s;
    }
  }
}

@keyframes chatbot_waiting{
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, -4px);
    transform: translate(0, -4px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}


// Avatar
.chatbot__avatar{
  .chatbot__avatar__image{
    margin: 0 .75em;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0 1px 1px rgba(black, .15);
    background-color: #fff;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .chatbot__avatar__time{
    text-align: center;
    color: #bbb;
    margin-top: .2em;
    font-size: .7em;
    text-shadow: 0 1px 0 #fff;
  }
}


// Avatar Animation
.chatbot__avatar{
  opacity: 1;
  transform: translateX(0);
  transition: transform .15s cubic-bezier(0.465, 0.183, 0.153, 0.946),
              opacity   .15s cubic-bezier(0.465, 0.183, 0.153, 0.946);

  .chatbot__statement--bot &.chatbot__avatar--hidden{
    opacity: 0;
    transform: translateX(-100%);
  }
  .chatbot__statement--user &.chatbot__avatar--hidden{
    opacity: 0;
    transform: translateX(100%);
  }
}


// Widget animation
.chatbot__widget{
  opacity: 1;
  transform: translateX(0);
  transition: transform .15s cubic-bezier(0.465, 0.183, 0.153, 0.946) .15s,
              opacity   .15s cubic-bezier(0.465, 0.183, 0.153, 0.946) .15s;
  .chatbot__statement--bot &.chatbot__widget--hidden{
    opacity: 0;
    transform: translateX(-2em);
  }
  .chatbot__statement--user &.chatbot__widget--hidden{
    opacity: 0;
    transform: translateX(2em);
  }
}

// Default
.chatbot__widget{
  border-radius: $chatbot_statement_radius;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(#000, .2);
  max-width: calc(100% - 40px * 1 - 1.5em * 1 - .75em);
  @media (min-width: 400px){
    max-width: calc(100% - 40px * 2 - 1.5em * 2);
  }
  @media (min-width: 570px){
    max-width: 450px;
  }
  @media (min-width: 800px){
    max-width: calc(100% - 40px * 2 - 1.5em * 2);
  }
  @media (min-width: 900px){
    max-width: 450px;
  }
  .chatbot__statement--bot &{
    background-color: #fff;
  }
  .chatbot__statement--user &{
    background-color: $primary_color;
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 1px 1px rgba(black, .2);
  }
}

// In Card
.chatbot__widget--card .chatbot__widget{
  border-radius: 0;
  box-shadow: none;
  max-width: 100%;
  &:first-child{
    border-top-left-radius: $chatbot_statement_radius;
    border-top-right-radius: $chatbot_statement_radius;
  }
  &:last-child{
    border-bottom-left-radius: $chatbot_statement_radius;
    border-bottom-right-radius: $chatbot_statement_radius;
  }
}


// Widget Notification
.chatbot__widget--notification{
  max-width: none;
  width: calc(100% + 2em);
  margin: 0 -1em;

  background-color: $warning_color;
  border-top: 1px solid darken($warning_color, 5%);
  border-bottom: 1px solid darken($warning_color, 5%);
  color: #fff;
  border-radius: 0;
  padding: .75em 2em;
  text-align: center;
}


// Widget Text
.chatbot__widget--text{
  padding: .5em .8em;
  text-align: left;
  font-weight: lighter;

  .chatbot__statement--user & a {
    color: #fff;
  }

  p, ul, pre{
    margin: 1em 0;
    &:first-child{
      margin-top: 0.5em;
    }
    &:last-child{
      margin-bottom: 0.5em;
    }
  }
  ul{
    padding: 0 0 0 1.5em;
  }
  pre{
    border: 1px solid rgba(#000, .1);
    box-shadow: 0 1px 0 #fff;
    padding: 1em;
    font-size: .85em;
    line-height: 1.2em;
    color: #555;
    border-radius: 3px;
    overflow: auto;
  }
}

.sg .chatbot__widget--text p code,
.sg .chatbot__widget--text li code,
.chatbot__widget--text code{
  padding: .2em .25em .1em .25em;
  background-color: rgba(#fff, .5);
  border: 1px solid rgba(#000, .1);
  color: darken($primary-color, 10%);
  font-size: .9em;
  border-radius: 2px;
}


// Widget image
.chatbot__widget--image{
  line-height: 0;
  background-color: #fff;
  border: 2px solid #fff;
  img{
    max-width: 100%;
    max-height: 300px;
  }
  .chatbot__widget--image__info {
    line-height: 1.4rem;
    padding: .5rem .8rem;
    h2{
      font-size: 1em;
      margin: .25em 0 .15em 0;
    }
    p{
      font-size: 0.9em;
      color: #666;
      margin: 0;
    }
    .chatbot__widget--card &{
      background-color: #333;
      color: #fff;
      p{
        color: #ddd;
      }
    }
  }
}

// Widget video
.chatbot__widget.chatbot__widget--video{
  border: 2px solid #fff;
  width: 100%;
  .chatbot__widget--video__wrapper{
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .chatbot__widget--video__info{
    line-height: 1.4rem;
    padding: .5rem .8rem;
    h2{
      font-size: 1em;
      margin: .25em 0 .15em 0;
    }
    p{
      font-size: 0.9em;
      color: #666;
      margin: 0;
    }
    .chatbot__widget--card &{
      background-color: #333;
      color: #fff;
      p{
        color: #ddd;
      }
    }
  }
}


// Widget video
.chatbot__widget.chatbot__widget--map{
  border: 2px solid #fff;
  width: 100%;
  .chatbot__widget--map__wrapper{
    position: relative;
    padding-bottom: 75%; /* 4:3 */
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .chatbot__widget--map__info{
    line-height: 1.4rem;
    padding: .5rem .8rem;
    h2{
      font-size: 1em;
      margin: .25em 0 .15em 0;
    }
    p{
      font-size: 0.9em;
      color: #666;
      margin: 0;
    }
    .chatbot__widget--card &{
      background-color: #333;
      color: #fff;
      p{
        color: #ddd;
      }
    }
  }
}

// Widget button-link
.chatbot__widget--button-link {
  display:flex;
  a {
    text-decoration: none;
  }
}

// Widget button & button_group
.chatbot__widget--button-link,
form.chatbot__widget--button,
.chatbot__widget--button-group{
  border-radius: 0;

  .chatbot__statement--bot &{
    background-color: transparent;
    box-shadow: none;
  }

  a, button{
    padding: .5em 1em;
    border: 1px solid $primary-color;
    color: darken($primary-color, 10%);

    background-color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;

    border-radius: 20px;

    transition: all .1s;

    &:focus,
    &:hover{
      background-color: $primary-color;
      color: #fff;
    }

    &[disabled],
    &[disabled]:focus,
    &[disabled]:hover{
      border-color: #eee;
      color: #ccc;
      background-color: #fff;
      cursor: default;
      &[selected]{
        border-color: #aaa;
        color: #888;
      }
    }
  }
}
// In Card
.chatbot__widget--list .chatbot__widget--button,
.chatbot__widget--card .chatbot__widget--button {
  button{
    width: 100%;
    border-radius: $chatbot_statement_radius;
  }
}

.chatbot__widget--card .chatbot__widget--button {
  padding: .75em .8em;
}

.chatbot__widget--button-group{
  form{
    display: block;
    width: 100%;
    button{
      display: block;
      width: 100%;
      padding: .6em 1.5em;
      border-radius: 0;

      border-top-width: 0;
      background-color: #fff;

      &[disabled],
      &[disabled]:focus,
      &[disabled]:hover{
        border-color: #eee;
        &[selected]{
          border-color: #eee;
          color: #666;
        }
      }
    }
    &:first-child{
      button{
        border-top-width: 1px;
        border-top-left-radius: $chatbot_statement_radius;
        border-top-right-radius: $chatbot_statement_radius;
      }
    }
    &:last-child{
      button{
        border-bottom-left-radius: $chatbot_statement_radius;
        border-bottom-right-radius: $chatbot_statement_radius;
      }
    }
  }
}

// In Card
.chatbot__widget--card .chatbot__widget--button-group {
  padding: .75em .8em;
}


// Widget list
.chatbot__widget.chatbot__widget--list{
  .chatbot__statement--bot &{
    box-shadow: 0 1px 0 0 #fff;
    background-color: rgba(#000, .035);
  }

  border-radius: $chatbot_statement_radius + 6px;

  padding: .75em;

  &.chatbot__widget--list--vertical{
    .chatbot__widget{
      min-width: 100%;
    }
    .chatbot__widget:not(:last-child){
      margin-bottom: .75em;
    }
  }

  &.chatbot__widget--list--horizontal{
    padding: .75em 0;

    @media (min-width: 1350px){
      max-width: calc(1070px - 40px * 2 - 1.5em * 2);
      padding-left: .5em;
      padding-right: .5em;
    }
    @media (min-width: 1850px){
      max-width: calc(1520px - 40px * 2 - 1.5em * 2);
    }

    & > div{
      .slick-slide{
        margin: 0 5px;
      }
    }
    .chatbot__widget{
      max-width: 450px;

      @media (min-width: 1350px){
        width: 450px;
        min-width: 450px;
      }

      .chatbot__widget{
        max-width: 100%;
        min-width: 100%;
        width: 100%;
      }
    }
  }
}

// Widget card
.chatbot__widget.chatbot__widget--card {
  width: 100%;
  box-shadow: 0 1px 1px rgba(#000, .2);
  .chatbot__widget--text + .chatbot__widget--button,
  .chatbot__widget--text + .chatbot__widget--button-group{
    margin-top: -0.75em;
  }
}
