.toggle-console{
  display: block;
  position: fixed;

  font-size: .8em;
  background-color: $success-color;
  color: rgba(#fff, .9);
  text-decoration: none;
  transform: rotate(-90deg);
  right: -1.25em;
  top: 7em;
  padding: .1em .5em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  &:hover,
  &:focus{
    background-color: darken($success-color, 5%);
    color: #fff;
  }

  @media (min-width: 1100px){
    display: none !important;
  }
}
.console{
  @include display_flex();
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  background-color: #fff;
  overflow: hidden;

  .console__header{
    position: relative;
    padding: 1em 1em 1em 1em;
    border-bottom: 1px solid rgba(#000, .1);
    small{
      font-size: 1em;
      color: #aaa;
    }
    code{
      font-size: .725em;
      font-family: $family-monospace;
    }
    .console__header__fullscreen_btn{
      position: absolute;
      top: .5em;
      right: .25em;
    }
  }

  form{
    margin: 1.25em 1em;

    .field--console-now{
      font-size: .8em;
    }
  }

  .tabs{
    margin: 0;
    min-height: calc(2.3em + 3px);
    max-height: calc(2.3em + 3px);
    height: calc(2.3em + 3px);
  }


  .console__output{
    height: 100%;
    overflow-y: auto;

    &.console__output__loading{
      @keyframes highlighter {
        0% {
          background-color: #ffffdd;
        }
        100% {
          background-color: #fff;
        }
      }
      overflow: hidden;
      animation: .5s ease-in-out highlighter;
    }

    pre{
      font-size: .75em;
      margin: 0;
      background-color: transparent;
    }
    pre.with-wrap{
      white-space: normal;
      line-height: 1.5em;
    }

    #console-explain{
      padding: 1em;
      p{
        margin: 0;
      }
      .intents{
        list-style: none;
        padding: 0;
        & > li a{
          display:block;
          padding: .5em 1em;
          text-decoration: none;
          border-left: 4px solid transparent;
          box-shadow: 0 1px 2px rgba(black, .2);
          border-radius: 2px;
          margin-bottom: .75em;
          .intent__header{
            position: relative;
            margin-right: 2em;
            .intent__header__name{
              text-decoration: underline;
            }
            .intent__header__slug{
              color: #aaa;
              font-size: .8em;
            }
            .intent__header__score{
              position: absolute;
              right: -2em;
            }
          }
          ul{
            list-style-type: none;
            padding: 0;
            margin-top: .2em;
            li{
              border-bottom: 1px solid #eee;
              padding: .4em 0 .1em 0;
              &:last-child{
                border-bottom: none;
              }
            }
          }
          &:hover{
            border-left: 4px solid $primary-color;
          }
          .intent__label{
            color: #888;
            text-transform: uppercase;
            font-size: .65em;
            line-height: 1em;
            margin-bottom: .15em;
          }
          .intent__highlight{
            color: #666;
            font-size: .7em;
            font-family: $family-monospace;
            match{
              background-color: yellow;
              padding: 0 .2em 0 .2em;
              border-radius: 1px;
              margin: 0 2px;
              border: 1px solid rgba(#000, .05);
            }
          }
          pre{
            padding: 0;
            color: #666;
            font-size: .7em;
            font-family: $family-monospace;
          }
        }
      }

      .api_links{
        margin-top: 3em;
        padding-top: 1em;
        font-size: .8em;
        text-align: center;
        border-top: 1px dotted #eee;
        display: flex;
        justify-content: space-evenly;
        .endpoint a{
          color: #bbb;
          &:hover{
            color: #222;
          }
        }
        .download_package a{
          color: #bbb;
          &:hover{
            color: #222;
          }
        }
      }

    }
  }
}
