.field__title{
  margin: 1.5em 0 .25em 0;
  text-transform: uppercase;
  font-size: .8em;
  color: #888;
}

.field{

  &:not(:last-child){
    margin-bottom: 1em;
  }

  &.field--inline{
    @include display_flex();
    .control{
      margin-right: 1.5em;
      align-self: flex-end;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  .control--merged{
    @include display_flex();
    align-items: flex-start;

    textarea.autosize{
      height: calc(1.5em + 0.375em + 0.375em);
      resize: none;
    }

    textarea,
    input[type='text'],
    input[type='email'],
    input[type='password'],
    .addon,
    .btn,
    .dropdown,
    .field_with_errors{
      border-radius: 0;
      margin-left: -1px;
    }

    textarea:first-child,
    input[type='text']:first-child,
    input[type='email']:first-child,
    input[type='password']:first-child,
    .addon:first-child,
    .btn:first-child,
    .dropdown:first-child{
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      margin-left: 0;
    }

    textarea:last-child,
    input[type='text']:last-child,
    input[type='email']:last-child,
    input[type='password']:last-child,
    .addon:last-child,
    .btn:last-child,
    .dropdown:last-child{
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }

  &.field--inline--expanded{
    .control{
      -webkit-flex-grow: 1;
              flex-grow: 1;
    }
  }
  &.field--inline--centered{
    -webkit-justify-content: center;
            justify-content: center;
  }
  &.field--inline--right{
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
  }

  .field_with_errors {
    display: inline;
    width: 100%;
  }

  .label,
  label{
    font-weight: 400;
    margin-bottom: .5em;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    &.radio,
    &.checkbox{
      width: auto;
      cursor: pointer;
      font-weight: 300;
    }
  }
  label{
    cursor: pointer;
  }

  label + .badge{
    vertical-align: text-top;
  }

  input[type='radio'],
  input[type='checkbox']{
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: .5em;
  }

  input[type='file']{
    font-weight: 300;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea{
    min-width: 1em;
    width: 100%;
    line-height: 1.5;
    font-weight: 300;
    vertical-align: top;

    padding: calc(.375em - 1px) .5em;

    border-radius: 3px;
    border: 1px solid #ccc;
    border-top: 1px solid #bbb;
    box-shadow: 0 1px 0 rgba(black, .05) inset;
    &:focus,
    &.focus{
      border-color: $focus_color;
      box-shadow: 0 0 0 2px rgba($focus_color, .25);
      outline:none;
    }
  }
  textarea{
    resize: vertical;
  }

  textarea:disabled{
    background-color: #f9f9f9;
    border-color: #ddd;
    box-shadow: none;
    opacity: .6;
  }

  textarea.with-2-lines{
    height: calc(3em + 0.375em + 0.375em);
  }
  textarea.with-3-lines{
    height: calc(4.5em + 0.375em + 0.375em);
  }
  textarea.with-4-lines{
    height: calc(6em + 0.375em + 0.375em);
  }

  input::-webkit-input-placeholder{
    opacity: .3;
  }
  input::-moz-placeholder{
    opacity: .3;
  }
  input:-ms-input-placeholder{
    opacity: .3;
  }
  textarea::-webkit-input-placeholder{
    opacity: .3;
  }
  textarea::-moz-placeholder{
    opacity: .3;
  }
  textarea:-ms-input-placeholder{
    opacity: .3;
  }

  input[type='text'].code{
    font-family: $family-monospace;
  }


  .addon{
    line-height: 1.5;
    font-weight: 300;
    vertical-align: top;
    padding: calc(.375em - 1px) .5em;
    border-radius: 3px;
    border: 1px solid #ccc;
    border-top: 1px solid #bbb;
    background-color: #f5f5f5;
    color: #666;
    white-space: nowrap;
    a{
      color: #666;
      text-decoration: none;
      &:hover span{
        color: #222;
        text-decoration: underline;
      }
    }
    .icon svg{
      fill: #666;
    }
    &.addon--error{
      background-color: lighten($alert_color, 38%);
      color: $alert_color;
      border: 1px solid desaturate(lighten($alert_color, 20%), 10%);
      border-top: 1px solid desaturate(lighten($alert_color, 15%), 10%);
      .icon svg{
        fill: $alert_color;
      }
    }
    &.addon--success{
      background-color: lighten($success_color, 49%);
      border: 1px solid desaturate(lighten($success_color, 30%), 40%);
      border-top: 1px solid desaturate(lighten($success_color, 25%), 40%);
      color: $success_color;
      .icon svg{
        fill: $success_color;
      }
    }
  }
  .field_with_errors{
    input[type='text'],
    input[type='email'],
    input[type='password'],
    textarea{
      border: 1px solid $alert_color;
      border-top: 1px solid darken($alert_color, 5%);
      &:focus{
        border-color: $alert_color;
        box-shadow: 0 0 0 2px rgba($alert_color, .25);
      }
    }
  }

  .help{
    line-height: 1.5em;
    margin-top: 0.25em;
    font-size: .875em;
    color: #888;
    .icon svg{
      fill: #888;
    }
    &.help--success{
      color: $success_color;
      .icon svg{
        fill: $success_color;
      }
    }
    &.help--error{
      color: $alert_color;
      .icon svg{
        fill: $alert_color;
      }
    }
  }
}


.password-show-hide{
  position: relative;
  .password-show-hide__show,
  .password-show-hide__hide{
    font-size: .9em;
    position: absolute;
    right: 10px;
    top: calc(100% - 2.1em);
    color: #bbb;
    text-decoration: none;
    &:hover{
      color: #000;
      text-decoration: underline;
    }
  }
}


//
// File upload input
//
.field--upload{
  position: relative;
  overflow: hidden;

  label{
    border: 2px dashed #aaa;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2px;
    font-weight: 300;
    overflow: hidden;

    &.hover{
      border-color: $primary_color;
      background-color: #fbfbfb;
    }

    & > div{
      text-align: center;
      padding: 3em 1em;
      p{
        color: #222;
        margin: 0;
      }
    }
  }
  input[type="file"]{
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}


.color-picker-preview{
  height: 12em;
  @include display_flex();
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  & > div{
    width: 96%;
    background-color: #fff;
    padding: 1px;
    border-radius: 3px;
  }
}

ul.color-picker{
  list-style: none;
  padding: 0;
  margin: 0;
  @include display_flex();
  li{
    height: 1.5em;
    width: calc(100%/18);
    button{
      display:block;
      height: 1.5em;
      border-radius: 2px;
      border: 2px solid #fff;
      transition: transform .15s ease-out;
      width: 100%;

      &.current,
      &:focus,
      &:hover{
        border: 3px solid $primary_color;
        box-shadow: 0 0 0 1px rgba(white, 1) inset, 0 0 0 1px rgba(white, 1);
        transform: scale(1.3);
      }
      &:focus,
      &:hover{
        transform: scale(1.4);
      }
      &:focus{
        outline: none;
      }
    }
  }
}

@each $name, $color in $colors{
  &.background-color__#{$name}{
    background-color: $color;
  }
  &.background-color-gradient__#{$name}{
    background-image: linear-gradient(to top right, $color 0%, lighten($color, 15%) 100%);
  }
}

//
// CodeMirror
//
.CodeMirror{
  height: auto;
  border: 1px solid #ddd;
  border-radius: 3px;
  .CodeMirror-code{
    font-family: $family-monospace;
    font-size: .8em;
    line-height: 1.4em;
  }

  &.CodeMirror-focused{
    border-color: $focus_color;
    box-shadow: 0 0 0 2px rgba($focus_color, .25);
    outline:none;
  }
}
