.header{
  margin-top: .5em;
  margin-bottom: 1em;
  min-height: 2.25em;

  display:flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;

  .header__breadcrumb{
    color: rgba(black, .5);
    strong{
      color: rgba(black, .8);
      font-weight: 300;
    }
    a{
      color: rgba(black, .5);
      &:hover,
      &:focus{
        color: #000;
      }
    }
    order: 1;
    margin-bottom: .5em;
  }
  .header__tools{
    order: 2;
    margin-bottom: .5em;
    small{
      color: #aaa;
    }
  }
  .header__search{
    min-width: 100%;
    order: 3;
    margin-bottom: .5em;
  }

  &.header--backend-users{
    .header__search{
      @media (min-width: 1100px){
        order: 2;
        min-width: auto;
        margin-top: 0;
      }
    }
    .header__tools{
      @media (min-width: 1100px){
        order: 3;
      }
    }
  }

  &.header--agents{
    .header__breadcrumb{
      min-width: 240px;
    }
    .header__search{
      @media (min-width: 1400px){
        order: 2;
        min-width: auto;
      }
    }
    .header__tools{
      text-align: right;
      @media (min-width: 1400px){
        order: 3;
      }
    }
  }
}

