.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;

  .header__breadcrumb{
    color: rgba(black, .5);
    strong{
      color: rgba(black, .8);
      font-weight: 300;
    }
    a{
      color: rgba(black, .5);
      &:hover,
      &:focus{
        color: #000;
      }
    }
  }
  .header__search{

  }
  .header__tools{

  }
}
