@keyframes icon_spin {
  0% {
    transform:rotate(0deg) scale(1);
  }
  50%{
    transform:rotate(180deg) scale(.9);
  }
  100% {
    transform:rotate(360deg) scale(1);
  }
}

@keyframes icon_appear {
  0% {
    transform: rotate(0deg) scale(0);
  }
  30%{
    transform: rotate(45deg) scale(1.75);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.icon{
  width: 24px;
  height: 24px;
  display: inline-block;
  svg{
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
  }
  &.icon--x-small{
    width: 14px;
    height: 14px;
    line-height: 14px;
    svg{
      width: 14px;
      height: 14px;
    }
  }
  &.icon--small{
    width: 18px;
    height: 18px;
    line-height: 18px;
    svg{
      width: 18px;
      height: 18px;
    }
  }
  &.icon--large{
    width: 28px;
    height: 28px;
    line-height: 28px;
    svg{
      width: 28px;
      height: 28px;
    }
  }
  &.icon--spin svg{
    animation: icon_spin linear 1s infinite;
  }

  &.icon--appear svg{
    animation: icon_appear .5s;
  }

  @each $name, $color in $picker_colors{
    &.icon--#{$name} svg{
      fill: $color;
    }
  }

  &.icon--success svg{
    fill: $success_color;
  }
  &.icon--alert svg{
    fill: $alert_color;
  }

}

.btn--primary .icon,
.btn--destructive .icon{
  svg{
    fill: #fff;
  }
}

.btn--primary.btn--outline .icon{
  svg{
    fill: $primary_color;
  }
}
.btn--destructive.btn--outline .icon{
  svg{
    fill: $destructive_color;
  }
}

.btn--primary.btn--outline:hover .icon,
.btn--destructive.btn--outline:hover .icon{
  svg{
    fill: #fff;
  }
}
