.interpretations-list{
  list-style: none;
  padding: 0 0 1em 0;
  .sortable-chosen{
    box-shadow: 0 1px 7px rgba(#000, .25);
  }

  li{
    background-color: #fff;
    margin-bottom: .5em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    border-radius: 2px;
    @include display_flex();
  }


  .interpretations-list__draggable {
    @include display_flex();
    align-items: center;
    padding: 0 .1em;

    border-right: 1px solid #eee;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    span{
      line-height: 1em;
    }
    svg{
      fill: #ccc;
    }
    &:hover{
      background-color: $primary-color;
      cursor: move;
      svg{
        fill: #fff;
      }
    }
  }


  a.interpretations-list__show {
    border-radius: 2px;
    display: block;
    line-height: 1.4em;
    padding: .7rem .8rem;
    text-decoration: none;
    width: 100%;
    &:focus,
    &:hover{
      text-decoration: underline;
    }
  }

  form {
    border-radius: 2px;
    padding: .275em;
    width: 100%;
  }
}
