.markdown{
  code{
    background-color: $light-grey-200;
    padding: .1em .25em;
    color: #444;
    font-size: .9em;
    border-radius: 2px;
    font-family: $family-monospace;
  }
  pre code{
    padding: 0;
  }

  pre{
    background-color: $light-grey-200;
    padding: 1em;
    font-size: .9em;
    color: #444;
    line-height: 1.4em;
    font-family: $family-monospace;
  }

  blockquote{
    border-left: 4px solid $light-grey-900;
    background-color: $light-grey-200;
    margin: 1em 0;
    padding: 25px 60px;
    font-size: 1.1em;
    color: $dark-grey-800;
    p{
      margin: .5em 0;
    }
    cite{
      font-size: 0.9em;
      font-style: normal;
      color: $dark-grey-400;
    }
    &:before {
      font-family: Georgia, Garamond, 'Times New Roman', Times, serif;
      content: "\201C";
      display: block;
      height: 0;
      line-height: 0;
      left: -40px;
      position: relative;
      top: 25px;
      font-size: 3em;
      color: $primary_color;
    }
  }

  img{
    display:block;
    max-width: 100%;
  }

}
