.modal-background-effect{
  -webkit-filter: blur(4px);
     -moz-filter: blur(4px);
       -o-filter: blur(4px);
      -ms-filter: blur(4px);
          filter: blur(4px);
}

.modal{
  @include display_flex();
  justify-content: center;
  align-items: center;

  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 500;

  .modal__overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
  }

  .modal__main{
    max-width: 94%;
    width: 500px;
    max-height: calc(100vh - 60px);
    padding: 3px 0 0 0;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    overflow-y: auto;

    &.modal__main--loading{
      padding: 3em;
      text-align: center;
      font-size: 1.15em;
    }

    .modal__main__content{
      padding: .5em 1em 1em 1em;

      @media (min-width: 500px){
        padding: .5em 2em 2em 2em;
      }
      form:first-child{
        margin-top: 1em;
      }
    }

    h5.modal__main__title{
      margin: 0;
      font-size: 1.125em;
      padding: 1rem;

      @media (min-width: 500px){
        padding: 1rem 2rem;
      }

      font-weight: 300;
      border-bottom: 1px solid #eee;
      position: relative;
      button.modal__main__title__close{
        position: absolute;
        top: .75em;
        right: 1em;
        display: block;
        padding: 0;
        height: 2em;
        width: 2em;
        line-height: 0;
        text-align: center;
        background-color: #fff;
        border: none;
        cursor: pointer;
        svg{
          width: 1.5em;
          height: 1.5em;
          fill: #666;
        }
        &:hover,
        &:focus{
          svg{
            fill: #000;
          }
        }
        &:focus{
          box-shadow: 0 0 0 2px rgba(#000, .05);
          border-radius: 3px;
          outline: none;
        }
      }
    }
  }

  &.modal--large{
    .modal__main{
      width: 800px;
    }
  }

  &.modal--fixed-on-top{
    align-items: flex-start;
    padding-top: 30px;
  }

  .modal__main__chooser{
    overflow: auto;
    max-height: calc(100vh - 60px - 140px);
    ul{
      list-style: none;
      padding: 0 0 6px 0;
      li > a{
        display:block;
        padding: 1em 2em;
        border-bottom: 1px solid #eee;
        text-decoration: none;
        &:hover{
          background-color: $primary-color;
          color: #fff;
        }
      }
    }
    .modal__main__chooser__no-search-result{
      margin: 2em;
      text-align: center;
      color: #aaa;
      img{
        width: 60px;
      }
    }
  }
}
