.h-nav{
  background-color: #fff;
  color: #000;
  @include display_flex();
  justify-content: space-between;
  flex-wrap: wrap;
  height: 3em;
  box-shadow: 0 2px 2px rgba($dark-grey-500, .1);

  position: relative;
  z-index: 100;
}

.h-nav__header{
  padding: 0;
  a{
    display: block;
    padding: .75em 2em;
    svg{
      display: block;
    }
  }
  &.h-nav__header--hidden{
    display: none;
  }
}

.h-nav__content{
  & > ul{
    padding: 0;
    list-style: none;
    @include display_flex();
    & > li{
      & > a{
        display: block;
        padding: .75rem .5rem calc(.75rem - 4px) .5rem;
        color: $dark-grey-400;
        font-weight: 400;
        font-size: .9em;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        white-space: nowrap;

        @media (min-width: 500px){
          padding: .75rem 1rem calc(.75rem - 4px) 1rem;
        }
        &:hover,
        &:focus{
          color: $dark-grey-900;
          border-bottom: 4px solid lighten($primary_color, 20%);
          .icon svg{
            fill: $dark-grey-900;
          }
        }
        &.current{
          color: #000;
          border-bottom: 4px solid $primary_color;
        }
        .icon svg{
          fill: $dark-grey-500;
        }
      }
    }
  }

  .dropdown{
    .dropdown__trigger{
      display: block;
      padding: .75rem 1rem;
      color: $dark-grey-500;
      text-decoration: none;
      .icon svg{
        fill: $dark-grey-500;
      }
      &:hover,
      &:focus{
        .icon svg{
          fill: $primary_color;
        }
      }
    }
    .dropdown__content{
      .icon svg{
        fill: $dark-grey-100;
      }
    }
  }

  &.h-nav__content--hide-user-data{
    .user .user__info{
      display: none;
    }
  }
}

.v-nav,
aside.v-nav{
  width: 200px;
  background-color: lighten(#0E131A, 5%);
  color: #fff;
}
.v-nav__header{
  padding: 2em;
  p{
    text-align: center;
    font-size: 1.2em;
    margin: 0;
    svg{
      width: 50%;
      height: auto;
      margin-top: .5em;
    }
  }
}
.v-nav__content{
  height: calc(100% - 24px - 4em - 60px);
  overflow-y: auto;
  padding-bottom: 1em;
  ul{
    padding: 0;
    list-style: none;
    li{
      & > span,
      a{
        display:block;
        padding: .35em 1em .35em 2em;
        color: rgba(white, .7);
        text-decoration: none;
        border-left: 3px solid transparent;
      }
      a{
        &:hover{
          color: #fff;
          background-color: rgba(black, .5);
        }
        &.current{
          color: #fff;
          border-left: 3px solid $primary_color;
          background-color: rgba(black, .5);
        }
        .icon svg{
          fill: rgba(white, .4);
        }
      }
    }
    ul li a{
      font-size: .875em;
      padding: .25em 1em .25em 3em;
      small{
        color: rgba(white, .35);
      }
    }

    ul li ul li a{
      font-size: .7em;
      padding: 0 1em 0 5em;
    }
  }
}
