.note{
  font-size: .9em;
  padding: .5em;
  background-color: $light-grey-100;
  color: $dark-grey-300;
  border-radius: 3px;

  @include display_flex();
  .note__icon{
    svg{
      fill: #888;
    }
  }
  .note__content{
    margin-left: .5em;
    p{
      margin: 0 0 .5em 0;
    }
    p:only-child {
      margin: 0;
    }
    a{
      color: $dark-grey-400;
      &:hover,
      &:focus{
        color: $dark-grey-800;
      }
    }
  }

  &.note--warning{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 2px solid $warning_color;
    .note__icon{
      svg{
        fill: $warning_color;
      }
    }
  }
}
