table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.6em;
  thead{
    th{
      border-bottom: 2px solid #eee;
      font-weight: 300;
      color: #999;
      font-size: .875em;
      padding: 0.25em 0.25em;
    }
  }
  th, td{
    vertical-align: baseline;
    &.number,
    &.actions{
      text-align: right;
    }
    p{
      margin: 0;
    }
  }
  td{
    padding: 0.75em 0.25em;
    border-bottom: 1px solid #f0f0f0;
  }
  tbody tr:last-child td{
    border-bottom: none;
  }
  small{
    color: rgba(black, .5);
    font-size: .875em;
  }
}

div:not(.markdown) > table thead th{
  text-align: left;
}
