.tabs{
  margin: .5em 0;
  max-width: 100%;
  overflow-x: auto;

  font-size: .8em;
  @media (min-width: 600px){
    font-size: 1em;
  }
  ul{
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ddd;
    @include display_flex();
    li{
      a{
        display: block;
        margin-bottom: -1px;
        padding: .25em 2em;
        border-bottom: 2px solid transparent;
        text-decoration: none;
        color: #444;
        white-space: nowrap;
        &:hover,
        &:focus{
          color: #000;
          border-color: #666;
        }
        &.current{
          color: darken($primary_color, 10%);
          border-color: $primary_color;
        }
      }

      &.drag-done,
      &.drag-in{
        transform: translateY(-5px);
        a:after{
          content: "+1";
          position: absolute;
          right: .1em;
          top: 0.9em;
          background-color: $primary_color;
          color: #fff;
          border-radius: 3px;
          font-size: .75em;
          padding: 1px .5em;
          line-height: 1.5em;
          @media (min-width: 600px){
            top: 0.65em;
          }
        }
      }
      &.drag-done{
        transform: translateY(0);
        a:after{
          content: 'Adding...';
        }
      }
    }
  }

  &.tabs--on-center{
    ul{
      justify-content: center;
    }
  }
  &.tabs--on-right{
    ul{
      justify-content: flex-end;
    }
  }
  &.tabs--small{
    font-size: .8em;
  }
  &.tabs--large{
    font-size: 1.2em;
  }
}

header.tabs {
  padding-bottom: 0.5em;
}

.tabs.tabs--empty {
  padding-bottom: 1.5em;
}
