@import '../../framework/abstracts/variables';

aside.chatbots-list{
  background-color: #fff;
  width: 300px;
  overflow: auto;
  border-right: 1px solid #ddd;
  ul{
    list-style: none;
    padding: 0;
    li{
      border-bottom: 1px solid #eee;
      a{
        display:block;
        padding: 1em .75em;
        text-decoration: none;
        color: #555;
        border-left: 7px solid transparent;
        line-height: 1.2em;
        small{
          color: #999;
        }
        &:hover,
        &.current{
          color: #000;
          small{ color: #666; }
          border-left: 7px solid $primary_color;
        }
      }
    }
  }
}

body[data-controller-name="chatbots"] main{
  padding: 0;
}

.chatbot{
  height: 100%;
  .chatbot__discussion{
    height: calc(100% - 70px);
    overflow: auto;
    background-color: #fff;
    padding-top: 1em;
  }
  .chatbot__input{
    border-top: 1px solid #ddd;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 1.5em;
    form{
      width: 100%;
      .control:first-child{
        flex-grow: 1;
      }
      .control:last-child{
        flex-grow: 1000;
      }
    }
  }
}

.chatbot__blankslate-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



@keyframes mic_listening{
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

a.btn{
  &.btn--recognition{
    svg{
      fill: #666;
    }
    &.btn--recognition-on{
      svg{
        fill: red;
        animation: mic_listening 1s linear infinite;
      }
    }
  }
}

