@-webkit-keyframes vectorAnimation {
    0% { opacity: 1;   }
   50% { opacity: 0.8; }
  100% { opacity: 1;   }
}
@-moz-keyframes vectorAnimation {
    0% { opacity: 1;   }
   50% { opacity: 0.8; }
  100% { opacity: 1;   }
}
@keyframes vectorAnimation {
    0% { opacity: 1;   }
   50% { opacity: 0.8; }
  100% { opacity: 1;   }
}

.login-wrapper{
  background-color: #0E131A;

  background-image: linear-gradient(to bottom, rgba(black, .0), rgba(black, .3)), url(images/sky.png);
  background-size: 100% 100%, 200px 200px;

  min-height: 100%;
  position: relative;
  overflow: hidden;

  $left-transparency: .05;
  $right-transparency: .05;

  .bg-left-line-1, .bg-left-line-2, .bg-left-line-3, .bg-left-line-4{
    position: absolute;
    height: 200px;
    width: 100%;
    left: 0px;
    transform: skewY(55deg);

    background-color: rgba(adjust-hue(#49D8FB, -10deg), $left-transparency);
    bottom: -25px;

    -webkit-animation: 5s ease-in-out infinite vectorAnimation;
       -moz-animation: 5s ease-in-out infinite vectorAnimation;
            animation: 5s ease-in-out infinite vectorAnimation;
  }
  .bg-left-line-2{
    background-color: rgba(adjust-hue(#49D8FB, -5deg), $left-transparency);
    bottom: -75px;
  }
  .bg-left-line-3{
    background-color: rgba(adjust-hue(#49D8FB, 0deg), $left-transparency);
    bottom: -125px;
  }
  .bg-left-line-4{
    background-color: rgba(adjust-hue(#49D8FB, 5deg), $left-transparency);
    bottom: -175px;
  }

  .bg-right-line-1, .bg-right-line-2, .bg-right-line-3, .bg-right-line-4{
    position: absolute;
    height: 200px;
    width: 100%;

    background-color: rgba(adjust-hue(#49b6fb, 15deg), $right-transparency);
    bottom: -25px;
    transform: skewY(-55deg);

    -webkit-animation: 5s ease-in-out infinite vectorAnimation;
       -moz-animation: 5s ease-in-out infinite vectorAnimation;
            animation: 5s ease-in-out infinite vectorAnimation;
  }
  .bg-right-line-2{
    background-color: rgba(adjust-hue(#49b6fb, 10deg), $right-transparency);
    bottom: -75px;
  }
  .bg-right-line-3{
    background-color: rgba(adjust-hue(#49b6fb, 5deg), $right-transparency);
    bottom: -125px;
  }
  .bg-right-line-4{
    background-color: rgba(adjust-hue(#49b6fb, 0deg), $right-transparency);
    bottom: -175px;
  }
}


@keyframes lifeAnimation {
    0% { opacity: 1;    }
   50% { opacity: 0.75; }
  100% { opacity: 1;    }
}

.login-ui-wrapper{
  max-width: 26em;
  margin: 0 auto;
  min-height: 100%;

  background-image: url(images/robot-idle-white.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 88px;

  &.robot-trouble{
    background-image: url(images/robot-trouble-white.png);
  }
  &.robot-happy{
    background-image: url(images/robot-happy-white.png);
  }
  &.robot-close-eyes{
    background-image: url(images/robot-close-eyes-white.png);
  }

  position: relative;

  h1.logo-container{
    text-align: center;
    padding: 3em 0;
    font-size: 1em;
    a{
      transition: transform .2s;
      display:inline-block;
    }
    a:hover{
      transform: scale(1.1);
    }
    svg{
      .icon{
        -webkit-animation: 5s ease-in-out infinite lifeAnimation;
           -moz-animation: 5s ease-in-out infinite lifeAnimation;
                animation: 5s ease-in-out infinite lifeAnimation;
      }
    }
  }

}
