.entities_list-name-and-visibility{
  display: -ms-grid;
  display: grid;

  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 2fr 1fr;

  grid-gap: 2em;
}

.card-list{
  li.highlight{
    border: 1px solid #3bb8d7;
    box-shadow: 0 0 5px #3bb8d7;
  }
}
