@import '../../framework/abstracts/mixins';
@import '../../framework/abstracts/variables';


.profile-edit-global-avatar,
.profile-edit-auth-destroy{
  & > div:last-child{
    margin-top: 1.5em;
  }
  @media(min-width: 1000px) {
    display: grid;
    grid-column-gap: 4em;
    grid-template-columns: 1fr 1fr;
    & > div:last-child{
      margin-top: 0
    }
  }
}

.profile-edit-avatar{
  & > div:first-child{
    text-align: center;
    .avatar{
      display: block;
      margin: 2em 0 0.5em 0;
    }
  }
  .field__title{
    margin-top: 0;
  }
  display: grid;
  grid-column-gap: 3em;
  grid-template-columns: 150px auto;
  align-items: center;
  margin-bottom: 1.5em;
}





.profile{
  max-width: 1300px;
  margin: 0.5em auto;
  .card {
    margin: -0.25em 0 2.25em 0;
    .card-content.card-content--profile{
      padding: 1em;
    }
  }
  h5{
    font-size: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    font-size: .85em;
    color: #222;
    font-weight: 400;
    position: relative;
    a{
      text-transform: none;
      position: absolute;
      right: 5em;
      top: -.25em;
    }
    a:last-child{
      right: 0;
    }
  }
}


.profile-show{
  & > div:last-child{
    margin-top: 1em;
  }
  text-align: center;
  @media(min-width: 1000px) {
    text-align: left;
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 240px auto auto;
    & > div:first-child{
      text-align: center;
      padding-left: 80px;
    }
    & > div:last-child{
      margin-top: 0;
      text-align: right;
    }
  }
  .profile-show__data{
    @media(min-width: 1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2em;
      p:first-child{
        margin-top: 0;
      }
    }
  }
  .profile-show__label{
    display: block;
    font-size: .9em;
    line-height: 1.2em;
    color: #888;
  }
  .profile-show__missing{
    color: #aaa;
    font-style: italic;
  }
}





$profile_dashboard_breakpoint: 1100px;

.profile-dashboard{
  display: grid;
  align-items: center;
  grid-column-gap: 2em;
  justify-content: center;
  grid-template-columns: 100%;

  @media(min-width: $profile_dashboard_breakpoint) {
    grid-template-columns: auto 50%;
    justify-content: space-evenly;
  }

  .profile-dashboard__on-right{
    padding: 2em 1.5em 0 1.5em;
    border-top: 1px solid #eee;
    @media(min-width: $profile_dashboard_breakpoint) {
      border-top: none;
      border-left: 1px solid #eee;
      padding: 1em 2em;
    }
  }
}

p.profile-dashboard-note{
  margin: 1em 0;
  font-size: .8em;
  color: #888;
}


.profile-radial{
  display: grid;
  grid-column-gap: 1em;
  align-items: center;
  justify-content: center;
  & > div:last-child{
    margin-top: -15px;
    padding: 0 0 2em 0;
  }
  @media(min-width: 550px) {
    grid-template-columns: 200px auto;
    height: 180px;
    & > div:last-child{
      margin-top: -30px;
      padding: 2em 0;
    }
  }
}

.graph-radial-unlimited{
  height: 210px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > div{
    text-align: center;
    padding: 1em 2em;
    background-color: #fafafa;
    color: #aaa;
    font-size: .9em;
    border-radius: 3px;
    line-height: 1.4em;
    .icon{
      margin-bottom: .5em;
    }
  }
}

.profile-radial-data{
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-areas:
    "primary        primary"
    "secondary-1    secondary-2";
  justify-content: start;

  .profile-radial-data__primary{
    grid-area: primary;
  }
  .profile-radial-data__secondary-1{
    grid-area: secondary-1;
  }
  .profile-radial-data__secondary-2{
    grid-area: secondary-2;
  }
}


.indicator{
  color: #888;
  .indicator-number{
    display: block;
    line-height: 1.2rem;
    color: #111;
    strong{
      font-size: 1.5em;
      color: $primary_color;
    }
    small{
      color: #888;
    }
  }
  &.indicator--secondary{
    font-size: .85em;
    line-height: 1.2rem;
    .indicator-number{
      strong{
        font-size: 1.2em;
        color: #333;
      }
    }
  }
}


.profile-expressions-top-agents{
  ol{
    &.two-columns{
      @media(min-width: 750px) {
        columns: 2;
      }
    }
    font-size: .9em;
    margin: 0;
    padding: 0;
    li{
      display: grid;
      grid-template-columns: 65px auto;
      grid-column-gap: 1em;
      & >:first-child{
        text-align: right;
      }
    }
  }
}

.profile-api-quota{
  display: flex;
  .indicator{
    margin: 0 3em 1em 0em;
  }
}

.profile-api-detail{
  display: none;
  @media(min-width: 1000px) {
    display: block;
  }
  background-color: #fbfbfb;
  margin: -3em 1em 4em 1em;
  padding: 1em 3em 1em 2em;
  position: relative;
  z-index: 0;
  box-shadow: 0 2px 3px rgba(#000, .1);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  .graph-area{
    padding-right: 10px;
    margin-top: -1em;
  }
  .graph-heatmap{
    margin-top: -1em;
  }
  h5{
    padding-left: 212px;
    margin: 3em 0 1em 0;
  }
}

.heatmap-tooltips{
  display: block;
  padding: 0.5em 1em;
}


