.login-wrapper{
  background-color: hsl(192, 15, 97);
  min-height: 100%;
}

.login-ui-wrapper{
  max-width: 90%;
  margin: 0 auto;
  min-height: 100%;
  @media (min-width: 26em){
    max-width: 26em;
  }

  h1.logo-container{
    text-align: center;
    padding: 4em 0;
    font-size: 1em;
    a{
      display: inline-block;
      &:hover,
      &:focus{
        svg path:last-child{
          fill: #3bb8d7;
        }
      }
    }
  }

  background-image: url(images/robot-idle.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 128px;

  &.robot-trouble{
    background-image: url(images/robot-trouble.png);
  }
  &.robot-happy{
    background-image: url(images/robot-happy.png);
  }
  &.robot-close-eyes{
    background-image: url(images/robot-close-eyes.png);
  }

}
