<div class="card">
  <div class="card-content">
    <h1>voqal.ai</h1>
    <h2 class="tagline">The AI next generation platform for voice search and bots.</h2>

    <% unless user_signed_in? %>
      <p>
        Access to <%= link_to t('signup'), new_user_registration_path %> or
        <%= link_to t('login'), new_user_session_path %>.
      </p>
    <% end %>

  </div>
</div>
