<div class="card profile-graphs__requests">
  <h2>
    <%= t('views.profile.requests.graph.title') %>
    <small>
      <%= t('views.profile.requests.graph.duration', from: l(@from, format: :long), to: l(@to, format: :long)) %>
    </small> 
  </h2>
  <div class="card-content">
    <div id="chart"></div>
  </div>
</div>