<div class="chatbot__entry chatbot__entry--user">
  <div class="chatbot__avatar">
    <img src="<%= current_user.image_url(:square) %>">
  </div>
  <div class="chatbot__bubble">
    <%= @content %>
  </div>
</div>
