.content{
  aside {
    background-color: #fff;
    border-top: 1px solid #3bb8d7;
    border-bottom: 1px solid #3bb8d7;
    text-shadow: 0 1px 0 #fff;

    &.notice {
      background-color: rgba(#3bb8d7, .1);
      border-color: rgba(#3bb8d7, .2);
    }
    &.success {
      background-color: rgba(#23d160, .2);
      border-color: rgba(#23d160, .2);
    }
    &.warning {
      background-color: rgba(#ff3860, .2);
      border-color: rgba(#ff3860, .2);
    }
  }

  h1, h2{
    border: none;
  }
}


.toc-wrapper > .search input{
  border-color: rgba(#fff, .1);
}

.header-table tr td:first-child{
  white-space: nowrap;
}
