<div class="btn-group"
     data-behavior="submit-form"
     data-form-selector=".agent_search">
  <%= f.hidden_field :filter_visibility %>
  <% active_css = @search.filter_visibility == 'all' ? 'btn--primary' : '' %>
  <%= f.button t('views.agents.index.filter_visibility.all'), class: "btn #{active_css}",
               data: {
                   input_selector: "input[name='search[filter_visibility]']",
                   input_value: 'all',
               } %>
  <% active_css = @search.filter_visibility == 'private' ? 'btn--primary' : '' %>
  <%= f.button t('views.agents.index.filter_visibility.private'), class: "btn #{active_css}",
               data: {
                   input_selector: "input[name='search[filter_visibility]']",
                   input_value: 'private',
               } %>
  <% active_css = @search.filter_visibility == 'public' ? 'btn--primary' : '' %>
  <%= f.button t('views.agents.index.filter_visibility.public'), class: "btn #{active_css}",
               data: {
                   input_selector: "input[name='search[filter_visibility]']",
                   input_value: 'public',
               } %>
</div>
