<div class="card">
  <div class="card-content">
    <div class="blankslate">
      <div class="blankslate__illustration">
        <img src="/assets/robot-idle-e6f210c362e9cec3a035d0dc1913f6a858f269e9467891dd96157e3ef1c7ef69.png" alt="Robot idle" />
      </div>
      <div class="blankslate__content">
        <p>
          <% if @agent.description.blank? %>
            <%= t('views.agents.index.no_description') %>
          <% else %>
            <%= @agent.description %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>



