*, *:before, *:after {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}
body{
  background: radial-gradient(#333, #000);
  font-family: "Roboto", sans-serif;
  position: relative;
  padding: 0;
  font-weight: 300;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: 1;
  svg{
    width: 120px;
    max-width: 100%;
  }
}

@keyframes heart{
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.025);
  }
  35% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.025);
  }
  45% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes breathing{
  0% {
    opacity: .75;
  }
  20% {
    opacity: .75;
  }
  25% {
    opacity: 1;
  }
  35% {
    opacity: .75;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: .75;
  }
  100% {
    opacity: .75;
  }
}

.loader{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: radial-gradient(#333, #000);

  svg{
    width: 80%;
    max-width: 300px;
  }

  p{
    color: rgba(#fff, .5);
  }
  &.loader--animate{
    p{
      animation: breathing 1s infinite;
    }
    svg{
      animation: heart 1s infinite;
    }
  }
}

.agent-hover-label{
  padding: .2em .5em .15em .5em;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 3px;
}


/**
 * Search
**/

.search-container{
  position: absolute;
  right: 1em;
  top: 1em;
  width: 28em;
  max-width: 90%;
  z-index: 2;
  label{
    display: block;
    color: rgba(#fff, .5);
    margin-bottom: .25em;
    font-size: .8em;
  }
  input{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
}

.selectize-control{
  filter: invert(100%);
}

.selectize-input {
  box-shadow: none;
}
.selectize-dropdown-content {
  max-height: 500px;
 }

.search-item{
  font-size: 1.2em;
  font-weight: 400;
  padding: 0 0 2px 0;
  &.search-item--interpretation{
    padding-left: 15px;
    font-size: 1em;
  }
  .search-item__name{
    display:block;
    .search-item__tag--agent,
    .search-item__tag--interpretation{
      display: inline-block;
      font-size: .8em;
      padding: 1px 4px 2px 4px;
      line-height: 1em;
      border-radius: 2px;
      border: 1px solid rgba(#000, .1);
      color: rgba(#000, .5);
    }
    .search-item__tag--agent{
      color: invert(#3bb8d7);
      border-color: invert(#3bb8d7);
    }
  }
  .search-item__slug{
    font-weight: 300;
    display:block;
    color: rgba(#000, .75);
    line-height: 1.4em;
  }
}

.selectize-dropdown{
  .active{
    background-color: rgba(#000, .15);
    .search-item__name{
      color: #000;
    }
    .search-item__slug{
      color: rgba(#000, .75);
    }
  }
}
