body,
html{
  font-family: $family-sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

strong{
  font-weight: 400;
}

h1{
  font-weight: 400;
  font-size: 2em;          // 32px
  margin-bottom: .5em;     // 16px => 48px
  margin-top: 0;
  &:not(:first-child){
    margin-top: 1em;
  }
}
h2{
  font-weight: 300;
  font-size: 1.75em;       // 28px
  margin-bottom: 0.5714em; // 16px
  margin-top: 0;
  &:not(:first-child){
    margin-top: 1.1428em
  }
  &.tagline{
    font-size: 1.5em;
    color: #888;
    margin-top: -0.15em;
  }
}
h3{
  font-weight: 300;
  font-size: 1.5em;        // 24px
  margin-bottom: 0.6666em; // 16px
  margin-top: 0;
  &:not(:first-child){
    margin-top: 1.3333em;
  }
  &.tagline{
    font-size: 1.25em;
    color: #888;
    margin-top: -0.35em;
  }
}
h4{
  font-weight: 300;
  font-size: 1.25em;       // 20px
  margin-bottom: 0.8em;    // 16px
  margin-top: 0;
  &:not(:first-child){
    margin-top: 1.3333em;
  }
}

p{
  &:last-child{
    margin-bottom: 0;
  }
}

button,
input,
select,
textarea{
  font-family: $family-sans-serif;
}
