body,
html{
  font-family: $family-sans-serif;
  font-weight: 300;
}

h1{
  font-weight: 500;
}
h2{
  font-weight: 500;
}
h3{
  font-weight: 500;
}
button,
input,
select,
textarea{
  font-family: $family-sans-serif;
}
