<ul>
  <li><a href="#" data-action="console-switch-to-explain"
    <% if current_tab == 'explain' %>class="current" <% end %>><%= t('views.console.tabs.explain') %></a></li>
  <li><a href="#" data-action="console-switch-to-json"
    <% if current_tab == 'json' %>class="current" <% end %>><%= t('views.console.tabs.json') %></a></li>
</ul>
