.aliased-interpretations-list{
  ul{
    padding:0 ;
    list-style: none;
    margin: 0 0 .5em 0;
    li{
      border-bottom: 1px solid #eee;
      a{
        text-decoration: none;
        display: block;
        padding: .4em 2em;
        h6{
          word-break: break-word;
          margin: 0;
          font-size: 1em;
          font-weight: 300;
        }
        p{
          word-break: break-word;
          color: #aaa;
          font-size: .8em;
          margin: 0;
        }
        &:focus,
        &:hover{
          background-color: #f9f9f9;
          h6 span:first-child{
            text-decoration: underline;
          }
          p{
            color: #888;
          }
        }
      }
    }

  }
}
