.interpretation-new-form-container{
  background-color: #fff;
  padding: 1em;
  box-shadow: 0 2px 3px rgba(black, .1);
  border-radius: 2px;
  margin-bottom: 1em;
  .tabs{
    margin-bottom: 1em;
  }
}
