@import '../../framework/abstracts/variables';

.card-list{
  .formulations-list__show {
    width: 100%;
    color: #222;
    border-right: 3px solid transparent;

    &:focus,
    &:hover {
      .card-list__item__name{
        text-decoration: none;
      }
    }
  }
  a.formulations-list__show {
    &:focus,
    &:hover{
      border-right: 3px solid $primary-color;
    }
  }
}



.formulations-form,
.formulations-show {
  padding: 1.25em 1em;
  width: 100%;
  display: grid;
  grid-column-gap: 1em;
}

.formulations-form{
  grid-template:
          "formulation formulation" auto
          "aliases aliases" auto
          "aliases-errors aliases-errors" auto
          "solution solution" auto
          "submit delete" 1fr /
          2fr 1fr;
  @media (min-width: 424px){
    grid-template:
            "formulation formulation" auto
            "aliases aliases" auto
            "aliases-errors aliases-errors" auto
            "solution solution" auto
            "submit delete" 1fr /
            1fr 1fr;
  }
  .field--submit {
    margin-top: 1em;
    margin-bottom: 0;
    grid-area: submit;
  }
  .formulations-form__delete {
    margin-top: 1em;
    grid-area: delete;
    justify-self: end;
  }
}

.formulations-show{
  grid-template:
    "formulation close" auto
    "aliases aliases" auto
    "solution solution" auto /
    1fr 1fr;

  .formulations-show__close {
    grid-area: close;
    justify-self: right;
  }
}

.formulations-form,
.formulations-show {

  .formulations-form__formulation,
  .formulations-show__formulation{
    grid-area: formulation;
  }

  .formulations-form__summary,
  .formulations-show__summary{
    grid-area: aliases;
  }

  .formulations-form__aliases-errors{
    grid-area: aliases-errors;
    color: $alert_color;
    font-size: .8em;
    line-height: 1.5em;
    .icon svg{
      fill: $alert_color;
    }
  }

  .formulations-form__solution,
  .formulations-show__solution{
    margin-top: 1em;
    grid-area: solution;
  }

  .solution-label{
    color: #999;
    font-size: .875em;
  }

}


.trix-control{
  position: relative;

  trix-toolbar{
    display:none;
  }

  $trix_padding: 330px;
  $trix_breakpoint: 700px;

  trix-editor{
    padding-top: 2.5em;
    min-height: 4.5em;
    @media (min-width: $trix_breakpoint){
      min-height: 2.5em;
      padding-top: .4em;
      padding-right: $trix_padding;
    }
    &:focus{
      border-color: $primary_color;
      box-shadow: 0 0 0 3px rgba($primary_color, .3);
      outline:none;
    }
  }

  trix-editor[dir="rtl"]{
    @media (min-width: $trix_breakpoint){
      padding-left: $trix_padding;
      padding-right: .5em;
    }
    text-align: right;
  }

  .trix-control__option{
    position: absolute;
    width: calc(100% - .5em);
    top: .25em;
    left: .25em;
    display: flex;
    align-items: baseline;

    @media (min-width: $trix_breakpoint){
      width: auto;
      left: auto;
      right: .25em;
      &.trix-control__option--rtl{
        right: auto;
        left: .25em;
      }
    }

    .trix-control__option__child{
      background-color: $light-grey-300;
      border-radius: 2px;
      margin-right: .25em;
      font-size: 0.8em;
      padding: .3em .5em;
      white-space: nowrap;
      .btn.btn--outline{
        background-color: #fff;
      }
      input[type='checkbox'] + label:before {
        top: -1px;
      }
    }
    .trix-control__option__child:nth-child(2){
      button{
        font-size: 1em;
        padding: .1em .4em;
      }
      .dropdown__content > ul > li > a{
        font-size: 1em;
      }
    }
    .trix-control__option__child:last-child{
      margin-right: 0;
    }

    input[type=checkbox],
    label{
      margin: 0;
    }

    .label,
    label{
      margin: 0;
      line-height: 1em;
      font-weight: 300;
    }
  }
}

.popup-overlay{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.popup-highlight{
  border-bottom: 2px solid $primary-color;
  position: absolute;
  width: 100px;
}

.popup{
  z-index: 5;
  max-width: 400px;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(#000, .2), 0 2px 4px rgba(#000, .3);
  font-size: .875em;
  .popup__search{
    padding: 5px;
    border-bottom: 1px solid #ddd;
    input{
      width: 100%;
      padding: .5em calc(1em - 5px);
      border: 1px solid transparent;
      border-radius: 2px;
      font-weight: 300;
      &:focus{
        border-color: $primary_color;
        box-shadow: 0 0 0 3px rgba($primary_color, .3);
        outline:none;
      }
    }
    input::-webkit-input-placeholder{
      opacity: .3;
    }
    input::-moz-placeholder{
      opacity: .3;
    }
    input:-ms-input-placeholder{
      opacity: .3;
    }
  }
  p{
    margin: 0;
    padding: .5em 1em;
  }
  ul{
    max-height: 300px;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      display: none;
      &.enabled{
        display:block;
      }
    }

    li a{
      display:block;
      padding: .5em 1em;
      border-bottom: 1px solid #eee;
      text-decoration: none;
      svg{
        fill: $primary-color;
      }
      &.focus,
      &:hover{
        background-color: $primary-color;
        color: #fff;
        svg{
          fill: #fff;
        }
      }
    }
    li:first-child a{
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
    li:last-child a{
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom: none;
    }
  }
}


trix-editor{
  @each $name, $color in $colors{
    a[href*='interpretation-#{$name}'],
    a[href*='entities_list-#{$name}']{
      color: $color;
      text-decoration: none;
      border-bottom: 2px solid $color;
      &::selection {
        background-color: rgba($color, .1);
      }
    }
  }
}

.aliases{
  @each $name, $color in $colors{
    .interpretation-#{$name},
    .entities_list-#{$name}{
      color: $color;
      a{
        color: $color;
        text-decoration: none;
        &:hover,
        &:focus{
          text-decoration: underline;
        }
      }
      small{
        color: $color;
        font-size: 1em;
        display:none;
        @media (min-width: 700px){
          display: inline;
        }
      }
      &:before{
        content: " ";
        display:inline-block;
        width: .75em;
        height: .75em;
        background-color: $color;
        border-radius: .75em;
        vertical-align: baseline;
        margin-right: .5em;
      }
    }
  }
}

.formulation-resume{
  @each $name, $color in $colors{
    .formulation-resume__alias-#{$name}{
      color: $color;
      border-bottom: 2px solid $color;
    }
  }
}


.aliases{
  table{
    line-height: 1em;
    margin: 0;
    tbody tr{
      border-top: 1px solid #eee;
    }
    td, th{
      padding: .5em .75em .5em .75em;
      vertical-align: middle;
      border: none;
      &:first-child{
        padding-left: 0;
        padding-right: .25em;
      }
      &:last-child{
        padding-right: 0;
      }
    }
    td{
      line-height: 1.5em;
    }
    th a{
      text-decoration: none;
      color: #999;
      font-size: .85em;
      line-height: 1em;
      em{
        text-decoration: underline;
        font-style: normal;
        color: $primary-color;
      }
      &:hover{
        em{
          color: darken($primary_color, 20%);
        }
      }
    }
    tbody{
      font-size: .875em;
    }
    td.options{
      white-space: nowrap;
      label{
        margin-bottom: 0;
      }
    }
    th:nth-child(4),
    td:nth-child(4){
      display:none;
      @media (min-width: 800px){
        display: table-cell;
      }
      @media (min-width: 1100px){
        display:none;
      }
      @media (min-width: 1200px){
        display: table-cell;
      }
    }
    td:nth-child(5){
      a svg{
        fill: #aaa;
      }
      a:hover svg{
        fill: #000;
      }
    }
  }

  .alias-errors{
    color: $alert_color;
    font-size: .9em;
    background-color: #fff;
    border-top: none;
    td{
      padding-top: 0;
      line-height: 1.5em;
    }
    .icon svg{
      fill: $alert_color;
    }
  }

  &.aliases--rtl{
    table{
      th:last-child,
      td:last-child{
        text-align: right;
      }
    }
  }

  .regex-header{
    td{
      padding: .5em .75em .25em .75em;
    }
    td:nth-child(2){
      padding: .25em 0.75em 0 0;
      & > span{
        display: inline-block;
        background-color: $light-grey-200;
        padding: .65em .75em;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
  }
  .regex-form{
    border: none;
    td{
      padding: 0 0 .25em 0;
      border-bottom: none;
    }
    & > td > div{
      background-color: $light-grey-200;
      border-radius: 3px;
      padding: .5em;
    }
    .control > .addon:first-child{
      min-width: 80px;
      text-align: center;
    }
    .hide-on-small-screen{
      display: none;
    }
    @media (min-width: 600px){
      .hide-on-small-screen{
        display: inline;
      }
      .control > .addon:first-child{
        min-width: 120px;
      }
    }
  }

  code{
    font-size: .8em;
    background-color: #f5f5f5;
    padding: .25em;
    border-radius: 2px;
    margin-left: .5em;
  }
}
